/**
 * About Page Styles
 */

 div#about-page{
 	padding:0;

  .about-nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      margin: 90px auto 80px auto;
      text-align: center;

      li {
          display: inline-block;
          border-right: 1px solid #000;
          text-transform: uppercase;
          margin-top: 15px;
          padding: 0 20px;

          &:last-child {
            border-right:none;
          }

          a {
            font-family: 'gotham-bold';
            color: #617181;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }


      }

      @media (max-width:486px) {
        li {
          font-size: 0.8em;
          padding:0 15px;
        }
        
      }

      @media (max-width:400px) {
        margin:50px auto 40px auto;
        li {
          display: block;
          border-right:none;
        }
        
      }
    }
  }

  .page-header{
    .page-header-inner{
      .page-header-description{
        // @media( min-width:$desktop){
        //     @include prefix("column-count", 2);
        //     @include prefix("column-gap", 40px);
        // }

        // p{
        //   @include prefix("column-break-inside", "avoid");
        //   margin:0 0 10px 0;
        // }
      }
    }
  }

 	div.section-header{
 		background-color:rgba(240,240,240,1);

 		h2{
 			color:#555;
	 	}
 	}

 	div.services{
		padding:0 0 80px 0;

    div.services-section{
      @include clearfix();

      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      vertical-align: top;
      padding:20px 20px 20px 20px;

      img{
        margin:20px 40px 20px 0;
        width:100%;
      }

      @media(min-width:$tablet-small){
        padding:20px 40px 20px 40px;
      }

      @media(min-width:$tablet-large){
        img{
          width: 40%;
        }

        padding:40px 80px 40px 80px;
      }

      @media(min-width:$desktop){
        img{
          width: 40%;
        }
      }

      h2{
        font-family: "gotham-light";
        padding:20px 0 10px 0;
        font-size: 28px;
      }

      h3{
        font-size: 21px;
        line-height: 22px;
        margin:0 0 0 0;
      }

      &:nth-child(even){
        border-top:1px solid #eee;
        border-bottom:1px solid #eee;

        h2{
        }
      }

      ul{
        list-style: none;
        padding:0; margin:10px 0 20px 0;

        li{
          -webkit-column-break-inside: avoid;
          page-break-inside: avoid;
          break-inside: avoid;	

          width:100%;
          height: auto;
          vertical-align: top;
        }
      }
    }
 	}

 	div.cfm-project-gallery{
 		padding:10px;

 		@media(min-width:$tablet-small){
   			padding:30px;
   		}
   		
   		@media(min-width:$tablet-large){
   			padding:60px;
   		}

 		.project-inner{
 			padding:10px;

 			a{
 				cursor: default;
 			}

 			.project-label{
 				margin:20px 0 40px 0;

 				h2{
 					font-size: 20px;
 				}
 			}
 		}
 	}
 }