// ABOUT PAGE STYLES

// ABOUT PAGE TYPE
// body {
.r2b-about{
    font-size: 13px;

    @media(min-width: $a_tablet-small) {
        font-size: 16px;
    }

    @media(min-width: $a_tablet-large) {
        font-size: 18px;
        
    }

    @media(min-width: $a_desktop) {
        font-size: 21px;    
    }

    @media(min-width: $a_desktop-large) {
        font-size: 25px;    
    }

    p {
        font-size: 1.3em;

        @media(min-width: $a_tablet-small) {
            font-size: 1.2em;
        }
        @media(min-width: $a_tablet-large) {
            font-size: 1.1em;
        }

         @media(min-width: $a_desktop) {
            font-size: 1em;
        }
    }

    p.headline,
    .intro p.headline,
    .about p.headline {
        // font-size:56px;
        font-size:2.24em;
    }


    ul.team-wrap {

        h3 {
            // font-size: 30px;
            font-size: 1.2em;
        }

        h4 {
            // font-size: 25px;
            font-size: 1em;
        }

    }
}

// ABOUT PAGE LAYOUT
.r2b-about{
    font-family: $gothamBook;
    color:$a_black;
    overflow: hidden;
    overflow-y:scroll;


    .gotham-black {
        font-family: $gothamBlack;
    }

    .gotham-book {
        font-family: $gothamBook;
    }


    h1, h2, h3, h4, h5, h6 {
        text-transform: uppercase;
        font-family: $gothamBook;
        -webkit-font-smoothing: antialiased;
    }

    p,ul,li {
        margin:0;
        padding:0;
    }

    p {
        -webkit-font-smoothing: antialiased;
        line-height: 1.15em;
    }

    p, ul.logos {
        @media(min-width: 600px) {
            padding-left:0.6em;
        }

        @media(min-width: $a_desktop) {
            padding-left:0;
        }
    }

    .header {
        margin-top: 2.9em;
        margin-bottom: 2.1em;
        h2 {
            text-align: center;
            line-height: 5.5em;
            color:white;
        }
    }

    span.gold {
        color:$a_gold;
        display: inline-block;
    }

    .wrap {
        margin:0 auto;
        max-width: 1297px;
        padding: 3.6em 20px;

        @media(min-width: $a_tablet-large) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }

    .half {
        position: relative;
        @media(min-width: $a_desktop) {
            width: 58.5%;
            float: left;

            &:nth-of-type(2) {
                width:41.5%;
            }
        }
    }

    .about {

        .wrap {
            padding-right: 20px;
            @media(min-width: $a_tablet-small) {
                padding-right: 0;
            }
        }

        .half {
            @media(min-width: $a_desktop) {
                width: 55%;
                float: left;

                &:nth-of-type(2) {
                    width:45%;
                }
            }
        }
    }

    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }

    .grey-bg {
        background-color: $a_grey;
        color:white;
    }

    .white-bg {
        p.headline {
            color:$a_grey; 
        }
    }

    p.headline,
    .intro p.headline,
    .about p.headline {
        text-transform: uppercase;
        font-family: $gothamBlack;
        line-height: 1em;
        max-width: 12em;

        span {
            display: inline-block;
        }
    }

    .about p {
        max-width: 20em;
    }

    .headline {
        position: relative;
        margin-bottom: 0.4em;
        padding:0;

        @media(min-width: 600px) {
            padding-left: 0.25em;
            padding-bottom: 0.18em;
        }

        &:after {
            content: "";
            background-image:url('../img/icons/corner-white.png');
            background-repeat: no-repeat;
            background-size: contain;
            width: 0.714em;
            height: 0.714em;
            position: absolute;
            display: block;
            bottom:-0.4em;
            left:-0.4em;
        }
    }

    .intro {
        // background-image:url('../img/flatiron.png');
        background-repeat: no-repeat;
        // background-size: 388px 606px;
        background-position: 30px -38%;

        @media(min-width:388px) {
            background-position: 120% -38%;
        }

        .wrap {
            padding-right: 0;
        }

        @media(min-width:$a_tablet-large) {
            // background-size: 388px 606px;
            background-position: right -10%;
        }

        @media(min-width:$a_desktop) {
            background-position: 110% -10%;
        }

        @media(min-width:$max_w) {
            background-position: right -10%;
        }

        p {
            max-width: 13.25em;
        }

        .headline {
            &:after {
                background-image:url('../img/icons/corner-gold.png');
            }
        }

        .half:first-of-type {
            margin-bottom: 1.5em;

            @media(min-width: $a_desktop) {
                margin-bottom: 0;
            }
        }
    }

    .team-gallery {
        .wrap {
            padding:0 20px 3.6em;
        }
    }
    // TEAM GALLERY
    .team-gallery .wrap {
        text-align: center;
    }

    ul.team-wrap {
        margin:0 auto;
        display: inline-block;
        max-width: 1300px;

        h3 {
            color:$a_gold;
            font-family: $gothamBold;
            -webkit-font-smoothing: antialiased;
            line-height: 1.1em;

        }
        h4 {
            color:$a_grey;
            text-transform: none;
            -webkit-font-smoothing: antialiased;
            line-height: 1.1em;
        }

        li {
            text-align: left;
            display: block;
            padding:0;
            margin:auto;
            margin-bottom: 1em;

            .team-inner {
                padding: 0.5em;
            }

            div.img-wrap {
                margin-bottom: 0.79em;
                > img {
                    display: block;
                    width: 100%;
                    max-width: 389px;
                    height: auto;
                    margin:auto;
                }
            }
            @media(min-width: $a_tablet-small) {
                width: 50%;
                float:left;            

                &:nth-child(2n+1) {
                    clear: left;
                }
            }
            @media(min-width: $a_desktop) {
                width: 33.333333333%;

                &:nth-child(2n+1) {
                    clear: none;
                }

                &:nth-child(3n+1) {
                    clear: left;
                }
            }
        }
    }

    // logos
    ul.logos {
        max-width:22.5em;
        margin-top: 2.6em;
        margin-bottom: 2.6em;

        @media(min-width: $a_desktop) {
            margin-bottom: 0;
        }

        > li {
            width: 33.33333333%;
            display: block;
            float:left;

            > div {
                width: 4.28em;
                height: 4.28em;

                svg path,
                svg polygon {
                    fill:white;

                    @include prefix(transition, all 200ms);
                }

                &:hover {
                    svg path,
                    svg polygon {
                        fill:$a_gold;
                    }
                }

                &.click3x {
                }

                &.cfm {
                }

                &.r2b {
                    svg path,
                    svg polygon {
                            fill:$a_gold;
                        }
                    }
            }
        }
    }


    .outer.white-bg.intro{
        position: relative;
        &:before {
            content: "";
            display: block;
            background: rgba(255,255,255,0.8);
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 0;
        }

        @media(min-width: $a_tablet-small) {
            &:before {
                background: rgba(255,255,255,0.7);
            }
        }

        @media(min-width: $a_tablet-large) {
            position: static;
            &:before {
                display: none;
            }
        }
    }

    .logo-wrapper {
        > p {
            padding-right:1em;
        }
    }

}