/**
 * CONTENT WITH SCALES Page Styles
 */
#page-container div#content-w-scale-page {
	color:#000;
	ul {
		padding-left: 0;
		li {
			list-style-type: none;
			line-height: 1.625em;
			
		    line-height: 1.3em;
		    margin-bottom: 0.5em;
		
		}
	}

	ul li, p {
		text-align: center;
	}
	h1, h2, h3, h4, h5, h6 {
		text-align: center;
		font-family: 'gotham-bold';
		text-transform: uppercase;
		color:#000;
	}

	h3 {
	    text-transform: uppercase;
	    max-width: 24em;
	    margin: 0 auto;
	    font-weight: normal;
	    font-size: 1.5em;
	    letter-spacing: 0.065em;
	    line-height: 1.5em;
	    font-weight: normal;

	    font-size: 1.25em;

	    @media(min-width: 768px) {
	    	font-size: 1.5em;
	    }
	}

	// .cfm-videoplayer {
		// background-color:#617181;
	// }

	.page-header-inner {
		h1, h2, h3, h4, h5, h6 {
			text-align: center;
			font-family: 'gotham-bold' !important;
			text-transform: uppercase;
		}

		h2 {
			// font-size: 1.6em;
			// line-height: 1.1em;
			color:#222;
		    font-size: 1.25em;
		    line-height: 1.2em;

		    @media(min-width: 768px) {
		    	font-size: 1.6em;
		    }
		}
	}

	p {
	    line-height: 1.8em;
	    float: none;
	    max-width: 62em;
    	margin: 0em auto 1.8em;
	}

	.section-header {
		h2 {
			letter-spacing: 0.05em;
			font-weight: normal;
			-webkit-font-smoothing:antialiased;
			color:#ffffff;
			font-size: 22px;
    		line-height: 26px;
		}
	}
	
	.thin {
		font-family: "gotham-book";
	}

	.bold {
		font-family: 'gotham-bold';
	}

	.ab-center {
		position: absolute;
		top:0; bottom:0; left:0; right:0;
		margin: auto;
	}

	.bg-image {
		background-position: 50% 50%;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: $grey;
	}

	.icon {
		// margin: 1.25em auto;
		margin: 0em auto 1.25em;
		img {
			display: block;
			max-width: 60px;
			margin: 0 auto;
		}
	}

	// .feature {
	// 	width: 100%;
	// 	height:0;
	// 	position: relative;
	// 	padding-bottom: 400px;
	// 	padding-left:10px;
	// 	padding-left:10px;

	// 	@media(min-width: 650px) {
	// 		padding-bottom: 61%;
	// 	}

	// 	@media(min-width: 1000px) {
	// 		padding-bottom: 610px;
	// 	}

		.feature-text {
			color:white;
			position: absolute;
			top: 50%;
			padding:0 1em;

			@include prefix(transform, translateY(-50%));

			h1, h2, h3, a {
				color:white;
			}

			h1 {
				line-height: 1.1em;
			    letter-spacing: 0.05em;
			    font-weight: normal;
			    margin: 0.3em auto 0.5em;

			    font-size: 1.6em;

			    @media(min-width: 500px) {
			    	font-size: 2em;
			    }
			    @media(min-width: 768px) {
			    	font-size: 3em;
			    }
			}
			h2 {
			    text-transform: uppercase;
			    max-width: 24em;
			    margin: 0 auto;
			    font-weight: normal;
			    letter-spacing: 0.065em;
			    line-height: 1.45em;
			    font-size: 1.05em;

			    @media(min-width: 500px) {
			    	font-size: 1.2em;
			    }

			    @media(min-width: 768px) {
			    	font-size: 1.5em;
			    }
			}

			a {
				text-decoration: none;
				margin: 2em auto 0;
				text-align: center;
				display: block;
				position: relative;
				letter-spacing: 0.05em;
				text-transform: uppercase;
				font-weight: 100;
				font-size: 12px;
				cursor: pointer;

				@media(min-width: 500px) {
					font-size: 14px;
				}

				@media(min-width: 768px) {
					font-size: 19px;
				}

				@include prefix(transition, all 600ms ease-out);

				&:after {
					content: "";
					display: block;
					position: absolute;
					top: 2.4em;
					left:0;
					right:0;
					margin: auto;
					width: 23px;
					height: 10px;
					background-image:url('../img/content/v.png');
					background-size: contain;
					background-repeat: no-repeat;
					background-position: 50% 50%;
					@include prefix(transition, all 600ms ease-out);
				}

				&:hover {
					color: #617181;
					@include prefix(transition, all 200ms ease-in);

					&:after {
						background-image:url('../img/content/v-grey.png');
						@include prefix(transition, all 200ms ease-in);
					}
				}
			}
		// }
	}

	.bg-1 {

		background-image:url('../img/content/hand.jpg');
	}

	.content {
		> li {
			margin-bottom: 3em;
			&:last-of-type {
				margin-bottom:0;
			}

			@media(min-width: 768px) {
				width: 33.333333%;
				display: block;
				float: left;
				margin-bottom: 0em;
			}
		}
	}

	.process {
		.bold {
			line-height: 2em;
		}
	}

	.why-r2b {
		text-align: center;
		a {
			display: inline-block;
			margin: 1em auto;
			padding: 1em 3em;
			line-height: 1.25em;
			text-transform: uppercase;
			letter-spacing: 0.05em;
			border:4px solid #617181;
			color:#617181;
			background-color: #e6e7e8;
			text-decoration: none;
			font-weight:normal;
			font-family: 'gotham-bold';
			@include prefix(transition, all 600ms ease-in);

			&:hover {
				color:#e6e7e8;
				background-color:#617181;
				border:4px solid #e6e7e8;
				@include prefix(transition, all 200ms ease-out);
				
			}
		}

		h2 {
			margin: 1.65em auto 0.65em;
		}
	}

	.underline {
	    margin: 22px auto auto auto;
	}

	@media (min-width: 1200px) {
		div.section-header h2 {
		    padding: 52px 80px 48px 80px;
		}
		.page-header {
		    padding: 55px 80px 60px 80px;
		}
	}

	div.section-header h2 {
		padding-bottom:0;

		+ .underline {
			padding-bottom: 30px;
			@media (min-width: 480px) {
				padding-bottom: 40px;
			}

			@media (min-width: 480px) {
				padding-bottom: 48px;	
			}
		}
	}
	

}