/**
 * Home Page Styles
 */

  div#home-page{
  	padding-top:0;

  	.cfm-videoplayer{
		.cfm-videoplayer-poster{
			.cfm-videoplayer-poster-inner{
				@media( min-width:$tablet-small){ 
					padding:40px;
				}

				@media( min-width:$desktop){ 
					padding:60px;
				}
			}

			.cfm-videoplayer-playbutton{
				background:rgba( 255,255,255,.15 );

				.label{
				}

				.arrow{
					border-left-color:#000;
				}

				@media( min-width:$tablet-small){ 
					top:0; left:0;
					margin:0 0 0 0; 
					position: relative;
				}
			}

			.cfm-videoplayer-poster-header{
				width: 90%;

				@media( min-width:$tablet-large){ 
					width: 50%;
				}

				.cfm-videoplayer-poster-header-inner{
					padding:20px 0 0 20px;

					@media( min-width:$tablet-small){ 
						padding:20px 0 0 0;
					}

					h1{
						font-size: 25px;
						color: #555;
						line-height: 24px;
						margin:0 0 4px 0;

						@media( min-width:$tablet-small){ 
							font-size: 38px;
							line-height: 34px;
						}
					}

					h2{
						font-size: 16px;
						line-height: 20px;
						color: #555;
						font-family: "gotham-bold";
						
						margin:0 0 10px 0;

						@media( min-width:$tablet-large){ 
							font-size: 25px;
							line-height: 24px;
						}
					}

					p{
						font-family: "gotham-light";
						display: none;
						font-size: 16px;
						line-height: 20px;
						color: rgba(255,255,255,.8);
						margin:0 0 30px 0;
					}

					@media( min-width:$tablet-small){ 
						p{ display:block }
					}
				}
			}

			&:hover{
				.cfm-videoplayer-playbutton{
					background:rgba(255,255,255,.2);

					.label{
					}

					.arrow{
					}
				}
			}
		}
	}

 	div.main-navigation-gallery.cfm-project-gallery{
 		padding:0 0 0 0;
 		margin:1px -1px 0 0;

		ul{
	 		li{
	 			width:100%;

				div.project-inner{
		 			a{
		 				box-sizing:border-box;
		 				background-color:#111;
		 				padding-bottom: 20%;
		 				border-right:1px solid #EEE;
 						border-bottom:1px solid #FFF;

		 				div.project-label{
		 					opacity: 1;
		 					background-color:transparent;
		 					@include prefix( "transform", scale(1) );

		 					div.project-label-inner{
		 						padding:0;
		 						background-color:transparent;
		 						border:none;
		 						@include prefix( "transform", scale(1) );

		 						h3{
		 							font-family: "gotham-light";
		 							color:#BBB;
		 							letter-spacing: -.01em;
		 							font-size:16px;

		 							@media( min-width:$tablet-large){ 
										font-size:14px;
		 							}

		 							@media( min-width:900px){ 
										font-size:16px;
		 							}

		 							@media( min-width:$desktop){ 
										font-size:18px;
		 							}
		 						}
		 					}
		 				}

		 				&:hover{
		 					div.project-label{
		 						background-color:#fff;

			 					div.project-label-inner{
			 						h3{color:#333;}
			 					}
			 				}
		 				}
	 				}	
	 			}

	 			@media( min-width:$tablet-small){ 
	 				width:50%; 

	 				div.project-inner{
	 					a{
	 						padding-bottom:60%;
	 					}
	 				}

	 				// &:nth-child(-n+2){
	 				// 	width: 50%;

	 				// 	div.project-inner{
				 	// 		a{
				 	// 			padding-bottom: 40%;
			 		// 		}	
			 		// 	}
			 		// }
	 			}

	 			@media( min-width:$tablet-large){ 
	 				width:25%; 

	 				div.project-inner{
	 					a{
	 						padding-bottom:70%;
	 					}
	 				}
			 	}
	 		}
	 	}
	 }
}


body.click3x.page-id-4 {
	.hamburger span, 
	#hamburger-open span {
	    background: #FFF;
	}
	#header-container {
		position: absolute;
		top:5px;
	}
	#hamburger {
	    position: absolute;
	    top: -14px;
	}
	#site-wrapper {
		position: relative;
	}
}