/**
 * Project Detail Page Styles
 */

#project-page{
	.r2b-divider {
		max-width: 1400px;
		margin:auto;
		border-top: 1px solid #000;
		width:100%;
	}

	.project-component-container {
		max-width: 1000px;
		margin:auto;

		padding:70px 14px 70px 20px;

		@media(min-width:$tablet-small){
			padding:70px 30px 70px 40px;
		}

		@media(min-width:1080px){
			padding:80px 0 80px 0;
		}

		h2 {
			text-align:center;
			color: $new-theme;
			text-transform: uppercase;
			font-family: 'gotham-bold';
			margin-bottom: 30px;
			font-size: 1.8em;
		}

		p {
			font-family: 'gotham-book';
			font-size: 0.8em;
    		line-height: 1.9em;
		}
	}

	.the-ask-container {

		ul {
			list-style: none;
			margin:0;
			padding:0;
			margin:auto auto 50px auto;
			text-align: center;
			li {
				display: inline-block;
				// width:19%;
				border-right:1px solid #000;
				font-family: 'gotham-bold';
				text-transform: uppercase;
				color: $new-theme;
				margin-top: 15px;
				padding: 0 20px;

				&:last-child {
					border-right:none;
				}

				line-height: 1.5em; 
				font-size: 0.8em;
				@media (min-width:581px) {
					font-size: 1em;
				}

				// @media (max-width:950px) {
				// 	width:33%;
				// }
				// @media (max-width:580px) {
				// 	font-size: 0.8em;
				// }
				// @media (max-width:435px) {
				// 	font-size: 0.6em;
				// 	line-height: 1.5em;
				// }

				// @media (max-width:320px) {
				// 	font-size: 0.5em;
				// 	line-height: 1.5em;
				// }
			}
			
		}

		
	}

	.the-answer-container {
		.the-answer-carousel {
			margin-top:100px;
			@media (max-width:400px) {
				margin-top: 60px;
			}
			.owl-stage-outer {
				-webkit-box-shadow: 0 8px 6px -6px #ccc;
			    -moz-box-shadow: 0 8px 6px -6px #ccc;
		        box-shadow: 0 8px 6px -6px #ccc;
			}

			.owl-nav {
				.owl-prev {
					position: absolute;
					left:10px;
					top:50%;
					transform: translateY(-50%);
					img {
						width:50px;
						height: 50px;
					}
				}
				.owl-next {
					position: absolute;
					right:10px;
					top:50%;
					transform: translateY(-50%);
					img {
						width:50px;
						height: 50px;
					}
				}

				@media (max-width:800px) {
					.owl-prev {
						left:8px;
						top: calc(50% - 20px);
						img {
							width:40px;
							height: 40px;
						}
					}

					.owl-next {
						right:8px;
						top: calc(50% - 20px);
						img {
							width:40px;
							height: 40px;
						}
					}
				}
			}

			.owl-dots {
				text-align: center;
				margin: 25px 0;
				.owl-dot {
					display: inline-block;
					zoom: 1;
					span {
						width: 12px;
					    height: 12px;
					    margin: 5px 9px;
					    background: $new-theme;
					    display: block;
					    -webkit-backface-visibility: visible;
					    -webkit-transition: opacity 200ms ease;
					    -moz-transition: opacity 200ms ease;
					    -ms-transition: opacity 200ms ease;
					    -o-transition: opacity 200ms ease;
					    transition: opacity 200ms ease;
					    -webkit-border-radius: 30px;
					    -moz-border-radius: 30px;
					    border-radius: 30px;
					}
				}

				.owl-dot.active {
					span {
						background: #000;
					}
					
				}
			}
		}

		.after-text-container {
			margin-top: 55px;
			@media (max-width:400px) {
				margin-top: 40px;
			}
		}
		
	}

	.the-result-container {

		.the-result-info-container {
			text-align: center;
			margin-top: 90px;
		
			ul.the-result-infographic {
				display: inline-block;
				width:29%;
				text-align: center;
				list-style: none;
				padding:0;
				vertical-align: top;

				.info-divider {
					border-top: 1px solid #000;
					width:120px;
					margin:auto;
				}

				.result-percent {
					color: $new-theme;
					font-size: 3em;
					font-family: 'gotham-bold';
					line-height: 1.1em;
					margin-bottom: 20px;
				}

				.result-title {
					color: $new-theme;
					font-size: 1.5em;
					text-transform: uppercase;
					font-family: 'gotham-bold';
					line-height: 1em;
					margin-bottom: 15px;
				}

				.result-subtitle {
					font-family: 'gotham-book';
					margin: 10px 0 20px 0;
				}

				.result-icon {
					img {
						width: 80px;
	    				height: auto;
					}
				}
			}

			@media (max-width:880px) {
				margin-top: 50px;
				ul.the-result-infographic {
					

					.info-divider {
						width: 100px;
					}
					.result-percent {
						font-size: 2.2em;
						margin-bottom: 10px;
					}

					.result-title {
						font-size: 1.1em;
					}

					.result-subtitle {
						font-size: 0.9em;
					    margin: 5px 0 10px 0;
					}

					.result-icon {
						img {
							width: 60px;
						}
					}
				}
			}

			@media (max-width:650px) {
				ul.the-result-infographic {
					
					.info-divider {
						width: 80px;
					}
					.result-percent {
						font-size: 1.8em;
						margin-bottom: 10px;
					}

					.result-title {
						font-size: 0.8em;
					}

					.result-subtitle {
						font-size: 0.7em;
					    margin: 5px 0 10px 0;
					}

					.result-icon {
						img {
							width: 40px;
						}
					}
				}
			}

			@media (max-width:460px) {
				ul.the-result-infographic {
					
					.info-divider {
						width: 60px;
					}
					.result-percent {
						font-size: 1.5em;
						margin-bottom: 10px;
					}

					.result-title {
						font-size: 0.6em;
						margin-bottom: 10px;
					}

					.result-subtitle {
						font-size: 0.5em;
					    margin: 5px 0 10px 0;
					    line-height: 1.4em;
					}

					.result-icon {
						img {
							width: 30px;
						}
					}
				}
			}
		}
	}

	.project-module-image{
		background-size:cover;
		background-repeat:no-repeat;
		background-position:center center;
		width: 100%;
		padding-bottom:100%;
		position: relative;

		@media( min-width:$tablet-small){ padding-bottom:60%; }
		@media( min-width:$tablet-large){ padding-bottom:50%; }
	}

	.project-detail{
		.featured-module {

			.featured-module-inner {
				position:relative;
				
				.featured-headlines-container {
					display: table;
				    position: absolute;
				    top: 0;
				    bottom: 0;
				    left: 0;
				    right: 0;
				    margin: auto;
			        width: 100%;
    				height: 100%;

    				// display: none;

    				// @include prefix(transition, opacity 800ms ease-out);
					
				    .featured-headlines-inner {
			    		display: table-cell;
						vertical-align: middle;

    					.featured-headlines-content {
							margin-left: auto;
    						margin-right: auto; 
    						text-align:center;
    						width:80%;
    						max-width: 1200px;
    						text-transform: uppercase;
    						h1 {
	    						color:#fff;	
	    						font-family: "gotham-bold";
    						    font-size: 3.2em;
    							line-height: 1.1em;
    						}
    						h2 {
	    						color:#fff;	
	    						font-family: "gotham-light";
    						    font-size: 1.25em;
    							margin-top: 25px;
    						}

    						a {
    							color:#eee;
    							font-family: "gotham-book";
    							text-decoration: none;
							    display: inline-block;
							    margin-top: 20px;

							    span.label {
							    	font-size: 15px;
    								line-height: 8px;
    								vertical-align: middle;
    								display: block;
							    }

							    span.arrow {
							    	display: inline-block;
								    border-left: 6px solid transparent;
								    border-right: 6px solid transparent;
								    border-top: 8px solid #CCC;
								    vertical-align: middle;
							    }

							    @include prefix( "transition", color .2s);

								&:hover {
									color:#fff;
								}
    						}

    						@media (max-width: 850px) {
    							h1 {
    								font-size: 2.5em;
    							}

    							h2 {
    								font-size: 0.9em;
    							}

    							a {
    								span.label {
    									font-size: 0.8em;
    								}
    							}
    						}

    						@media (max-width: 600px) {
    							h1 {
    								font-size: 2.5em;
    								font-size: 1.8em;
    							}

    							h2 {
    								font-size: 0.8em;
    								margin-top: 10px;
    								line-height: 1.3em;
    							}

    							a {
    								span.label {
    									font-size: 0.6em;
    								}
    							}
    						}
    					}
				    }
				}
			}
		}
		.project-heading{
			max-width: 1000px;
			margin:0 auto;
			position: relative;

			.project-heading-inner{
				padding:70px 14px 70px 20px;

				@media(min-width:$tablet-small){
					padding:70px 30px 70px 40px;
				}

				@media(min-width:1080px){
					padding:80px 0 80px 0;
				}
					
				h2{
					font-family: "gotham-book";
					color: $cfmred;
					margin-bottom: 8px;
					font-size: 24px;
					line-height: 30px;
				}

				h1{
					font-family: "gotham-light";
					color: #777;
					font-size: 36px;
					line-height: 44px;
					letter-spacing: -1px;
				}

				.video-anchor-link{
					position: static;
					text-align: left;
					margin:20px 0 0 6px;
					width: auto;

					a{
						display: inline-block;

						span.arrow{
							display: inline-block;
							border-top: 6px solid transparent;
							border-bottom: 6px solid transparent;
							border-left: 8px solid #CCC;
							vertical-align: middle;
							border-right:none;
						}

						span.label{
							vertical-align: middle;
							display: inline-block;
							color:#CCC;
							margin:0 0 0 10px;
						}

						&:hover{
							span.arrow{
								border-left: 8px solid #555;
							}

							span.label{
								color:#555;
							}
						}
					}
				}
			}
			
		}
		.project-module{
			display: block;

			.project-module-description{
				.project-module-description-inner{
					padding:10px 20px 10px 20px;

					@media(min-width:$tablet-small){
						padding:10px 40px 10px 40px;
					}

					@media(min-width:1080px){
						padding:10px 40px 10px 40px;
					}

					h3{
						padding-top:20px;
						font-size: 19px;
						line-height: 36px;
						font-weight: 200;
						color: $cfmred;
					}

					h2{
						margin-left: 1px;
						font-size: 24px;
						line-height: 26px;
						font-family: "gotham-light";
						color: #555;
					}

					p{
						margin-top:10px;
					}
				}
			}
		}

		@import '../project_modules/detail.scss';
		@import '../project_modules/banner-image.scss';
		@import '../project_modules/gallery.scss';

		.project-about{
			max-width: 1000px;
			margin:0 auto;

			.project-about-inner{
				padding:70px 14px 70px 20px;

				@media(min-width:$tablet-small){
					padding:70px 30px 70px 40px;
				}

				@media(min-width:1080px){
					padding:70px 0 70px 0;
				}

				@include clearfix();

				.project-logo{
					display: none;

					@media(min-width:$tablet-large){
						display: block;
					}

					width: 25%;
					padding-bottom:25%;
					background-color:#000;
					float: left;
					background-position:center center;
					background-size:cover;
					background-repeat:no-repeat;
				}

				.project-description{
					vertical-align: top;
					float: left;

					.project-description-inner{
						p{
							margin-top:-8px;
							margin-bottom: 32px;
							font-size: 0.8em;
    						line-height: 1.9em;
						}
						p.credits{
							margin-top:40px;
							border-top:1px solid #eee;
							padding-top:40px;

							span.description-label{
								color: #aaa;
								margin-right: 8px;
								font-family: "gotham-book";							
							}
						}
					}

					@media(min-width:$tablet-large){
						width: 75%;
						float: left;

						.project-description-inner{
							padding:0 0 0 40px;

							h1{
								margin-top:-3px;
								font-family: "gotham-bold";
							}
						}
					}
				}

				.project-links-menu{
					.project-links-menu-inner{
						padding:10px 0 0 0;

						ul{
							@include clearfix();

							list-style: none;
							margin:0; padding:0;

							li{
								float: left;
								margin: 0 10px 10px 0;
								border:1px solid $cfmred;

								@include prefix( "transition", border .25s ease-in-out );

								a{
									display: inline-block;
									padding:4px 24px 4px 24px;
									text-decoration: none;
									background-color:#FFF;

									h4{
										font-size: 16px;
										font-family: "gotham-book";
										color: $cfmred;
									}

									@include prefix( "transition", background-color .25s ease-in-out );
								}

								&:hover{
									a{
										background-color:$cfmred;

										h4{
											color: #EEE;
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

html:not(.mobile){
	#project-page{
	 	.cfm-videoplayer{
			video{
				background:#FFF;
			}

			.cfm-videoplayer-poster{
				.cfm-videoplayer-playbutton{
					// padding:0 24px 0 0;
					text-align: center;
					border-radius:0;
					width:100%;
					height: auto;
					left:0;right:0;
	  				margin:auto;
	  				background:transparent;

					span.arrow{
						display: none;
						// position: static;
						// border-top: 10px solid transparent;
						// border-bottom: 10px solid transparent;
						// border-left: 14px solid $cfmred;
						// margin:-1px 0 0 24px;
						// display: inline-block;
						// vertical-align: middle;
					}
				
					span.label{
						border:1px solid #fff;
						text-transform: uppercase;
						padding: 12px 18px;
						font-family: "gotham-book";
						display: inline-block;
						color: #FFF;

						@include prefix( "transition", all .2s);

						&:hover {
							color:#000;
							background-color:#fff;
						}
					}
				}
			}
		}
 	}
}

// .hide-title {
// 	opacity: 0;
// 	@include prefix(transition, opacity 300ms ease-in);
// }
