$c3x_red : #b4132d;
$cfmred:#b4132d;


.clickfiremedia {

    font-family:"calluna", serif;
    font-weight:200;
    font-size: 19px;
    line-height:34px;
    background-color:#333;
    color:#444;

    #footer-container {
        font-family: "calluna", serif;
        text-align: center;
        position: relative;
        background-color: #333;
        color: rgb(102, 102, 102);
        // opacity: 0;
        padding: 90px 0px;
    }

    p {
      font-size: 1em;
    }

    div.section-header {
        background-color: #FFF;

        h2 {
            color:#ccc;
        }
    }

    div#about-page {
        padding:0;

        .about-nav {
            ul {
                list-style: none;
                margin: 0;
                padding: 0;
                margin: 90px auto 80px auto;
                text-align: center;

                li {
                    display: inline-block;
                    border-right: 1px solid #000;
                    text-transform: uppercase;
                    margin-top: 15px;
                    padding: 0 20px;

                    &:last-child {
                        border-right:none;
                    }

                    a {
                        font-family: 'gotham-bold';
                        color: #617181;
                        text-decoration: none;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                @media (max-width:486px) {
                    li {
                        font-size: 0.8em;
                        padding:0 15px;
                    }
                }

                @media (max-width:400px) {
                    margin:50px auto 40px auto;
                    li {
                        display: block;
                        border-right:none;
                    }
                }
            }
        }

        .page-header{
            .page-header-inner{
              .page-header-description{
                @media( min-width:$desktop){
                    @include prefix("column-count", 2);
                    @include prefix("column-gap", 40px);
                }

                p{
                  @include prefix("column-break-inside", "avoid");
                  margin:0 0 10px 0;
                }
              }
            }
        }

        div.section-header{
            background-color:rgba(240,240,240,1);

            h2{
                color:#555;
            }
        }

        div.services{
            padding:0 0 80px 0;

            div.services-section{
                @include clearfix();

                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
                vertical-align: top;
                padding:20px 20px 20px 20px;

                img{
                    margin:20px 40px 20px 0;
                    width:100%;
                }

                @media(min-width:$tablet-small){
                    padding:20px 40px 20px 40px;
                }

                @media(min-width:$tablet-large){
                    img{
                        width: 40%;
                    }

                    padding:40px 80px 40px 80px;
                }

                @media(min-width:$desktop){
                    img{
                        width: 40%;
                    }
                }

                h2{
                    font-family: "gotham-light";
                    padding:20px 0 10px 0;
                    font-size: 28px;
                }

                h3{
                    font-size: 21px;
                    line-height: 22px;
                    margin:0 0 0 0;
                }

                  &:nth-child(even){
                    border-top:1px solid #eee;
                    border-bottom:1px solid #eee;
                }

                ul {
                    list-style: none;
                    padding:0; margin:10px 0 20px 0;

                    @media(min-width:$tablet-large){
                        @include prefix("column-count", 2);
                        @include prefix("column-gap", 10px);
                    }

                    li{
                        -webkit-column-break-inside: avoid;
                        page-break-inside: avoid;
                        break-inside: avoid;    

                        width:100%;
                        height: auto;
                        vertical-align: top;
                    }
                }
            }
        }

        div.cfm-project-gallery{
            padding:10px;

            @media(min-width:$tablet-small){
                padding:30px;
            }
            
            @media(min-width:$tablet-large){
                padding:60px;
            }

            .project-inner{
                padding:10px;

                a {
                    cursor: default;
                }

                .project-label {
                    margin:20px 0 40px 0;

                    h2 {
                        font-size: 20px;
                    }
                }
            }
        }
    }

    #project-page .project-detail .project-about .project-about-inner .project-description .project-description-inner p {
      margin-top: -8px;
      margin-bottom: 32px;
      font-size: 1em;
          line-height: 1.79em;
    }


    #page-container .page-header-navigation, #page-container .page-footer-navigation {
        background-color: #f0f0f0;
    }

    #page-container .page-header-navigation .page-header-inner .cfm-project-naviation ul li a h4, #page-container .page-header-navigation .page-footer-inner .cfm-project-naviation ul li a h4, #page-container .page-footer-navigation .page-header-inner .cfm-project-naviation ul li a h4, #page-container .page-footer-navigation .page-footer-inner .cfm-project-naviation ul li a h4 {
      color:#AAA;
    }

    // .line-arrow {
    //     display: inline-block;
    //     width: 6px;
    //     height: 14px;
    //     background-image: url(../../../../../images/arrow-cfm.png);
    //     background-size: 12px 28px;
    //     background-repeat: no-repeat;
    //     vertical-align: middle;
    //     margin: -2px 8px 0 0;
    // }

    #project-page .project-detail .project-heading .project-heading-inner h2 {
        font-family: "gotham-book";
        color: #a00;
        // margin-bottom: 8px;
        // font-size: 24px;
        // line-height: 30px;
    }

    #project-page .project-detail .project-about .project-about-inner .project-links-menu .project-links-menu-inner ul li{
        border: 1px solid #a00;
        
        a h4 {
            color: #a00;
        }

        &:hover a {
            background-color: #a00;
            h4 {
                color:#fff;
            }
        }
    }

    #project-page .project-detail .project-about .project-about-inner .project-description .project-description-inner p.credits span.description-label {
        color: #a00;
      margin-right: 8px;
      font-family: "calluna";
    }
}



html:not(.mobile) { 
    body.clickfiremedia {
        #project-page{
            .cfm-videoplayer{
                video{
                    background:#FFF;
                }

                .cfm-videoplayer-poster{
                    .cfm-videoplayer-playbutton{
                        padding:0 24px 0 0;
                        border:1px solid $cfmred;
                        border-radius:0;
                        width:auto;
                        height: auto;
                        background:#FFF;
                        top: 20px; left: 20px;
                        margin:0;

                        @media(min-width:$tablet-small){
                            top: 40px; left: 40px;
                        }

                        span.arrow{
                            position: static;
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            border-left: 14px solid $cfmred;
                            margin:-1px 0 0 24px;
                            display: inline-block;
                            vertical-align: middle;
                        }
                    
                        span.label{
                            text-transform: uppercase;
                            background-color:$cfmred;
                            padding:0 20px 0 20px;
                            display: inline-block;
                            font-size:13px;
                            line-height: 50px;
                            color: #FFF;
                            font-family: "gotham-book";
                        }
                    }

                    &:hover{
                        .cfm-videoplayer-playbutton{
                            border:1px solid #555;

                            span.arrow{
                                border-left: 14px solid #555;
                            }
                        
                            span.label{
                                background-color:#555;
                            }
                        }
                    }
                }
            }
        }
    }
    

    .cfm-videoplayer {
    
        .cfm-videoplayer-inner{
            padding-bottom: 100%;
            @media( min-width:$tablet-small){ padding-bottom:56.25%; }
            @media( min-width:$tablet-large){ padding-bottom:56.25%; }
            @media( min-width:$desktop){ padding-bottom:56.25%; }
            @media( min-width:$desktop-large){ padding-bottom:52%; }
        }
    }


    #footer-container{
        a{
            color:inherit;
            text-decoration: none;
            &.email {
                text-decoration: underline;
            }
        }

        p{
            line-height:1.5em;
        }
    }


    div.social-navigation{
        ul{
            li{
                div a {
                    background-position: 0 0;
                    &:hover {
                        background-position: 0 -50px;
                    }
                }
                &.facebook-btn{
                    div.project-inner{
                        a{
                            background-image:url(../img/cfm-facebook_icon.png);
                        }
                    }
                }

                &.twitter-btn{
                    div.project-inner{
                        a{
                            background-image:url(../img/cfm-twitter_icon.png);
                        }
                    }
                }

                // &.pinterest-btn{
                //     div.project-inner{
                //         a{
                //             background-image:url(../img/cfm-pinterest_icon.png);
                //         }
                //     }
                // }

                &.instagram-btn{
                    div.project-inner{
                        a{
                            background-image:url(../img/cfm-instagram_icon.png);
                        }
                    }
                }

                // &.youtube-btn{
                //     div.project-inner{
                //         a{
                //             background-image:url(../img/cfm-youtube_icon.png);
                //         }
                //     }
                // }

                &:first-child{
                    div.project-inner{
                    }
                }
            }
        }
    }
}
    


body.clickfiremedia {
    div#home-page .cfm-videoplayer-poster {
        .cfm-videoplayer-playbutton{
            background:#fff;
            position: absolute;
            width: 60px; height:60px;
            background:#FFF;
            top: 68%; left: 50%;
            margin:-40px 0 0 -34px;
            border-radius: 0;
            border: 1px solid #a00;

            span.arrow{
                width: 0; height: 0; 
                position: absolute;
                border-top: 10px solid transparent;
                border-bottom: 10px solid transparent;
                border-left: 15px solid #111;
                margin-left: -10px;
                top: 50%; left:55%;
                margin-top: -10px;
                border-left-color: #a00;
            }
        }

        &:hover{
            .cfm-videoplayer-playbutton{
                border: 1px solid #111;
                background: #fff;

                span.arrow{
                    border-left: 15px solid #111;
                }
            }
        }
    }

    div.cfm-project-gallery ul li div.project-inner a div.project-label div.project-label-inner h2 {
        color: #a00;
    }

    .line-arrow {
        border-top: 1px solid #aaa;
        border-right: 1px solid #aaa;
    }



    .cfm-navigation.mobile-menu .mobile-menu-inner {
        height: 100%;
        background: #FFF;

        ul{
            position: absolute;
            width: 100%;
            left:0; margin:-90px 0 0 0;
            top: 50%;

            li{
                margin:0; padding:0;
                display: block;

                a{
                    background:#FFF;
                    margin:0; padding:0;
                    display: block;

                    h1{
                        color: #222;
                        font-family:"gotham-light";
                        margin:0; padding:0;
                        font-size: 20px;
                        line-height: 40px;
                        text-transform: uppercase;

                        @media(min-height:$tablet-small){
                            font-size: 30px;
                            line-height: 70px;
                        }
                    }
                }

                &:hover{
                    a{
                        // background:$cfmred;
                        background: #a00;
                        border:none;

                        h1{
                            color: #FFF;
                        }
                    }
                }
                &.current_page_item,
                &.active{
                    a{
                        background:#222;
                        border:none;
                        
                        h1{
                            color: #FFF;
                        }
                    }
                }
            }

            @media(min-height:$tablet-small){
                margin:-200px 0 0 0;
            }

            @media(min-height:$tablet-large){
                top: 35%;
            }
        }
    }
}

html:not(.mobile) body.clickfiremedia #project-page .cfm-videoplayer .cfm-videoplayer-poster .cfm-videoplayer-playbutton {
  text-align: left;
  right: auto;
}

html:not(.mobile) body.clickfiremedia #project-page .cfm-videoplayer .cfm-videoplayer-poster .cfm-videoplayer-playbutton span.label {
  border:none;
}

html.clickfiremedia {
    background-color: #333;
}


// .admin-bar #page-container {
//     padding-top:0;
// }