@mixin prefix($property, $value, $prefixes: ("-webkit-","-moz-","-o-","-ms-","")) {
  @each $prefix in $prefixes {
    #{$prefix}#{$property}: #{$value};
  }
}

.hide-h1 {
        visibility: hidden; position: absolute; opacity: 0; height: 0; width: 0;
}

body {
    background-color: #eaedf2;
}

a.phone {
    text-decoration: none;
}