// OVERLAY
.overlay-scale {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 99;
    overflow: hidden;
    overflow-y: scroll;

    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);    
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

div.video-overlay {
    div.video-overlay-inner {

        position:relative;
        padding: 0 0 0 0;
        color: #fff; 
        
        .overlay-close {
            cursor: pointer;
            width: 40px;
            height: 40px;
            position: absolute;
            right: 20px;
            top: 200px;
            overflow: hidden;
            border: none;
            outline: none;
            z-index: 100;
            background: url(../img/close-x-grey.png) no-repeat;
            background-position: 50% 50%;
            right: 15px;
            top: 15px;
        }           

        div.swiper-slide {

            div.overlay-credits {
                text-align: center;
                margin: 58px 0;

                h1,h2,h3 {
                    font-family: 'gotham-book';
                    text-transform: uppercase;
                }
                h1 {
                    color: $cfmred;
                    margin-top:0.25em;
                }

                h2 {
                    font-size: 20px;
                }

                @media (max-width: 500px) {
                    margin-top: 15px;
                    margin-bottom: 25px;
                    
                    h1 {
                        font-size: 20px;
                        line-height: 20px;
                    }

                    h3 {
                        font-size: 14px;
                        line-height: 14px;
                    }

                    h2 {
                        font-size: 16px;
                        line-height: 16px;
                    }

                    .label-line {
                        height: 4px;
                    }
                }

                padding-bottom: 6px;
                @media(min-width: 501px) {
                    padding-bottom: 25px;
                }
            }
        }

        /*--------------------*/
        /* Fillpath */
        /*--------------------*/
        .overlay-nav {
            background-image: none;
            top: 130px;
            @media (max-width: 500px) {
                // top: 100px;
                    top: 66px;
            }
        }
        
        .overlay-nav a {
            width: 30px;
            height: 30px;
        }

        .overlay-nav .icon-wrap {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }

        .overlay-nav a::before,
        .overlay-nav a::after,
        .overlay-nav .icon-wrap::before,
        .overlay-nav .icon-wrap::after {
            position: absolute;
            left: 50%;
            width: 3px;
            height: 50%;
            background: #444;
            content: '';
            -webkit-transition: -webkit-transform 0.3s;
            transition: transform 0.3s;
            -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
        }

        .overlay-nav .icon-wrap::before,
        .overlay-nav .icon-wrap::after {
            z-index: 100;
            height: 0;
            background: $cfmred;
            -webkit-transition: height 0.3s, -webkit-transform 0.3s;
            transition: height 0.3s, transform 0.3s;
        }

        .overlay-nav a::before,
        .overlay-nav .icon-wrap::before {
            top: 50%;
            -webkit-transform: translateX(-50%) rotate(-135deg);
            transform: translateX(-50%) rotate(-135deg);
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        }

        .overlay-nav a.next::before,
        .overlay-nav a.next .icon-wrap::before {
            -webkit-transform: translateX(-50%) rotate(135deg);
            transform: translateX(-50%) rotate(135deg);
            -webkit-transform-origin: 50% 0%;
            transform-origin: 50% 0%;
        }

        .overlay-nav a::after,
        .overlay-nav .icon-wrap::after {
            top: 50%;
            -webkit-transform: translateX(-50%) rotate(-45deg);
            transform: translateX(-50%) rotate(-45deg);
            -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
        }

        .overlay-nav a.next::after,
        .overlay-nav a.next .icon-wrap::after {
            -webkit-transform: translateX(-50%) rotate(45deg);
            transform: translateX(-50%) rotate(45deg);
            -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
        }

        .overlay-nav a:hover .icon-wrap::before,
        .overlay-nav a:hover .icon-wrap::after {
            height: 0;
        }

        @media (min-width: 768px) {
            .overlay-nav a {
                width: 50px;
                height: 50px;
            }

            .overlay-nav a:hover .icon-wrap::before,
            .overlay-nav a:hover .icon-wrap::after {
                height: 50%;
            }

            .overlay-nav a:hover::before,
            .overlay-nav a:hover .icon-wrap::before {
                -webkit-transform: translateX(-50%) rotate(-125deg);
                transform: translateX(-50%) rotate(-125deg);
            }

            .overlay-nav a.next:hover::before,
            .overlay-nav a.next:hover .icon-wrap::before {
                -webkit-transform: translateX(-50%) rotate(125deg);
                transform: translateX(-50%) rotate(125deg);
            }

            .overlay-nav a:hover::after,
            .overlay-nav a:hover .icon-wrap::after {
                -webkit-transform: translateX(-50%) rotate(-55deg);
                transform: translateX(-50%) rotate(-55deg);
            }

            .overlay-nav a.next:hover::after,
            .overlay-nav a.next:hover .icon-wrap::after {
                -webkit-transform: translateX(-50%) rotate(55deg);
                transform: translateX(-50%) rotate(55deg);
            }
        }

        #arrow-left {
            @media (min-width: 900px) {
                left: 20%;
            }
        }

        #arrow-right {
            @media (min-width: 900px) {
                right: 20%;
            }
        }

        // .cfm-videoplayer {
        //  video.loading {
        //    background: black url(../img/close-overlay.png) center center no-repeat;
        //  }
        // }


    }
}