$c3x_red : #b4132d;
$cfmred:#b4132d;

body.click3x {
    #page-container .page-header{
        padding: 12px 20px;
        @media(min-width: 501px) {
            padding:20px;
        }

        @media( min-width:$tablet-small){
            padding:14px 45px;
        }

        @media( min-width:840px){
            padding:0px 130px 20px;
        }

        .page-header-inner{
            h1,h2,h3{
                margin:0 0 20px 0;
                font-family:"gotham-book";
            }

            p{
                margin:4px 0 30px 0;
            }

            .page-header-description{
                @media( min-width:$desktop){
                    @include prefix("column-count", 2);
                    @include prefix("column-gap", 40px);
                }

                p{
                    @include prefix("column-break-inside", "avoid");
                    margin:0 0 10px 0;
                }
            }
        }
    }

    div#director-page{


        h1 {
            color: $cfmred;
            text-align: center;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }

        .title-label {

            a {
                div.director-underline {
                    width: 100%;
                  height: 2px;
                  margin: 8px auto auto auto;
                  background-color: #444;
                  -webkit-transform: scaleX(0.3);
                  transform: scaleX(0.3);
                  -webkit-transition: all 0.2s ease-in-out 0s;
                  transition: all 0.2s ease-in-out 0s;
                }   
                
                &:hover {
                    div.director-underline {
                        -webkit-transform: scaleX(1);
                        transform: scaleX(1);
                    }
                }   
            }

            /*--------------------*/
            /* Fillpath */
            /*--------------------*/

            .nav-fillpath a {
                width: 30px;
                height: 30px;
            }

            .nav-fillpath .icon-wrap {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
            }

            .nav-fillpath a::before,
            .nav-fillpath a::after,
            .nav-fillpath .icon-wrap::before,
            .nav-fillpath .icon-wrap::after {
                position: absolute;
                left: 50%;
                width: 3px;
                height: 50%;
                background: #444;
                content: '';
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .nav-fillpath .icon-wrap::before,
            .nav-fillpath .icon-wrap::after {
                z-index: 100;
                height: 0;
                background: $cfmred;
                -webkit-transition: height 0.3s, -webkit-transform 0.3s;
                transition: height 0.3s, transform 0.3s;
            }

            .nav-fillpath a::before,
            .nav-fillpath .icon-wrap::before {
                top: 50%;
                -webkit-transform: translateX(-50%) rotate(-135deg);
                transform: translateX(-50%) rotate(-135deg);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
            }

            .nav-fillpath a.next::before,
            .nav-fillpath a.next .icon-wrap::before {
                -webkit-transform: translateX(-50%) rotate(135deg);
                transform: translateX(-50%) rotate(135deg);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
            }

            .nav-fillpath a::after,
            .nav-fillpath .icon-wrap::after {
                top: 50%;
                -webkit-transform: translateX(-50%) rotate(-45deg);
                transform: translateX(-50%) rotate(-45deg);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
            }

            .nav-fillpath a.next::after,
            .nav-fillpath a.next .icon-wrap::after {
                -webkit-transform: translateX(-50%) rotate(45deg);
                transform: translateX(-50%) rotate(45deg);
                -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
            }

            .nav-fillpath h3 {
                position: absolute;
                top: 50%;
                margin: 0;
                color: #444;
                text-transform: uppercase;
                font-weight: 300;
                font-size: 0.85em;
                opacity: 0;
                -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
                transition: transform 0.3s, opacity 0.3s;
            }

            .nav-fillpath a.prev h3 {
                left: 100%;
                -webkit-transform: translateY(-50%) translateX(-50%);
                transform: translateY(-50%) translateX(-50%);
            }

            .nav-fillpath a.next h3 {
                right: 100%;
                text-align: right;
                -webkit-transform: translateY(-50%) translateX(50%);
                transform: translateY(-50%) translateX(50%);
            }

            .nav-fillpath a:hover .icon-wrap::before,
            .nav-fillpath a:hover .icon-wrap::after {
                height: 0;
            }

            .nav-fillpath a:hover h3 {
                display: none;
            }

            @media (min-width: 840px) {
                .nav-fillpath a {
                    width: 100px;
                    height: 100px;
                }

                .nav-fillpath a:hover .icon-wrap::before,
                .nav-fillpath a:hover .icon-wrap::after {
                    height: 50%;
                }

                .nav-fillpath a:hover::before,
                .nav-fillpath a:hover .icon-wrap::before {
                    -webkit-transform: translateX(-50%) rotate(-125deg);
                    transform: translateX(-50%) rotate(-125deg);
                }

                .nav-fillpath a.next:hover::before,
                .nav-fillpath a.next:hover .icon-wrap::before {
                    -webkit-transform: translateX(-50%) rotate(125deg);
                    transform: translateX(-50%) rotate(125deg);
                }

                .nav-fillpath a:hover::after,
                .nav-fillpath a:hover .icon-wrap::after {
                    -webkit-transform: translateX(-50%) rotate(-55deg);
                    transform: translateX(-50%) rotate(-55deg);
                }

                .nav-fillpath a.next:hover::after,
                .nav-fillpath a.next:hover .icon-wrap::after {
                    -webkit-transform: translateX(-50%) rotate(55deg);
                    transform: translateX(-50%) rotate(55deg);
                }

                .nav-fillpath a:hover h3 {
                    display: block;
                    opacity: 1;
                    -webkit-transform: translateY(-50%) translateX(0);
                    transform: translateY(-50%) translateX(0);
                }
            }

        }

        #director-details-container {
            .page-header {
                text-align: center;
                a {
                    span {
                        color: $cfmred;
                    }
                    display: inline-block;
                    text-decoration: none;
                    cursor: pointer;

                    div.more-underline {
                        width: 100%;
                      height: 2px;
                      margin: 0;
                      background-color: $cfmred;
                      -webkit-transform: scaleX(0.5);
                      transform: scaleX(0.5);
                      -webkit-transition: all 0.2s ease-in-out 0s;
                      transition: all 0.2s ease-in-out 0s;  
                    }
            
                    &:hover {
                        div.more-underline {
                            -webkit-transform: scaleX(1);
                            transform: scaleX(1);
                        }
                    }

                }

                p {
                    margin: 4px 0 10px 0;
                }

                .hidden-bio {
                    display: none;
                }

            }

            #reel-static-container {
                position: relative;
                width: 100%;
                height: 0;
                padding-bottom: 50%;
                overflow: hidden;
                display: none;

                // @media (max-width: 760px) {
                //  padding-bottom: 100%;
                // }

                #reel-static {
                    -webkit-animation: kenburns 50s infinite linear;
                    -moz-animation: kenburns 50s infinite linear;
                    -ms-animation: kenburns 50s infinite linear;
                    animation: kenburns 50s infinite linear;
                    width: 100%;
                    height: 100%;
                    padding-bottom: 50%;
                    background-color: #000;
                    background-size: cover;
                    background-position: center center;

                    // @media (max-width: 760px) {
                    //  padding-bottom: 100%;
                    // }
                }

                .grain:after {
                  content: '';
                  width: 110%;
                  height: 110%;
                  background: url(http://pushhere.com/images/bg_grain.png) repeat center center;
                  -webkit-animation: grain .5s 0s steps(1) infinite;
                  -moz-animation: grain .5s 0s steps(1) infinite;
                  -ms-animation: grain .5s 0s steps(1) infinite;
                  animation: grain .5s 0s steps(1) infinite;
                  position: absolute;
                  top: -5%;
                  left: -5%;
                  display: block
                }
            }

            .red-gradient {
                // -webkit-transform: translateY(100%);
                // -moz-webkit-transform: translateY(100%);
                // -ms-webkit-transform: translateY(100%);
                // transform: translateY(100%);
                // background: rgba(180,19,45,0.21);
                // background: -moz-linear-gradient(top, rgba(180,19,45,0.21) 0%, rgba(180,19,45,0.21) 0%, rgba(250,47,81,0.46) 45%, rgba(235,26,61,0.6) 71%, rgba(180,19,45,0.76) 100%);
                // background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(180,19,45,0.21)), color-stop(0%, rgba(180,19,45,0.21)), color-stop(45%, rgba(250,47,81,0.46)), color-stop(71%, rgba(235,26,61,0.6)), color-stop(100%, rgba(180,19,45,0.76)));
                // background: -webkit-linear-gradient(top, rgba(180,19,45,0.21) 0%, rgba(180,19,45,0.21) 0%, rgba(250,47,81,0.46) 45%, rgba(235,26,61,0.6) 71%, rgba(180,19,45,0.76) 100%);
                // background: -o-linear-gradient(top, rgba(180,19,45,0.21) 0%, rgba(180,19,45,0.21) 0%, rgba(250,47,81,0.46) 45%, rgba(235,26,61,0.6) 71%, rgba(180,19,45,0.76) 100%);
                // background: -ms-linear-gradient(top, rgba(180,19,45,0.21) 0%, rgba(180,19,45,0.21) 0%, rgba(250,47,81,0.46) 45%, rgba(235,26,61,0.6) 71%, rgba(180,19,45,0.76) 100%);
                // background: linear-gradient(to bottom, rgba(180,19,45,0.21) 0%, rgba(180,19,45,0.21) 0%, rgba(250,47,81,0.46) 45%, rgba(235,26,61,0.6) 71%, rgba(180,19,45,0.76) 100%);
                // -webkit-transition: -webkit-transform 0.3s ease;
                // -moz-transition: -moz-transform 0.3s ease;           
                // -ms-transition: -ms-transform 0.3s ease;
                // transition: transform 0.3s ease;

                opacity: 0;

                -webkit-transform: translateY(100%);
                -moz-webkit-transform: translateY(100%);
                -ms-webkit-transform: translateY(100%);
                transform: translateY(100%);

                /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+27,0+70,1+100 */
                background: -moz-linear-gradient(top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.82) 82%, rgba(0,0,0,0.82) 100%); /* FF3.6-15 */
                background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,0.82) 100%); /* Chrome10-25,Safari5.1-6 */
                background: linear-gradient(to bottom,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,0.82) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d1000000',GradientType=0 ); /* IE6-9 */

                -webkit-transition: all 0.9s ease-in;
                -moz-transition: all 0.9s ease-in;
                -ms-transition: all 0.9s ease-in;
                transition: all 0.9s ease-in;
            }

            .featured-reel-container {
                position: relative;
                cursor: pointer;
                
                .featured-reel {
                    // cursor: pointer;
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 0;
                    padding-bottom: 50%;
                    
                    @include prefix( "transition", all .2s linear); 
                    -webkit-filter: grayscale(100%) saturate(0%) brightness(70%) contrast(100%);
                    filter: gray grayscale(100%) saturate(0%) brightness(70%) contrast(100%); 
                    filter: url(desaturate.svg#greyscale);  
                    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */  

                    -webkit-transition: all 0.9s ease-in;
                    -moz-transition: all 0.9s ease-in;
                    -ms-transition: all 0.9s ease-in;
                    transition: all 0.9s ease-in;

                    @media (max-width: $tablet-large) {
                        padding-bottom: 100%;
                    }

                }

                .view-reel-btn {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    border: 2px solid #fff;
                    color: #fff;
                    display: inline-block;
                    width: 150px;
                    height: 38px;
                    text-align: center;
                    line-height: 38px;
                    padding: 4px;
                }
            }

            .hoverfriend:hover {
                .featured-reel, a {
                    -webkit-filter: none;
                    filter: none;

                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out; 
                    -ms-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;  
                }

                .red-gradient {
                    // -webkit-transform: translateY(0%);
                    // -moz-transform: translateY(0%);
                    // -ms-transform: translateY(0%);
                    // transform: translateY(0%);
                    opacity: 1;
                    -webkit-transform: translateY(0%);
                    -moz-transform: translateY(0%);
                    -ms-transform: translateY(0%);
                    transform: translateY(0%);

                    -webkit-transition: all 0.2s ease-out;
                    -moz-transition: all 0.2s ease-out; 
                    -ms-transition: all 0.2s ease-out;
                    transition: all 0.2s ease-out;  
                }
            }


            .director-videos-list {
                ul {
                    padding: 0;
                    margin: 0;
                    li {
                        position: relative;
                        list-style-type: none;
                        width: 100%;
                        padding-bottom: 25%;
                        cursor: pointer;
                        @include prefix( "transition", padding-bottom .3s ease);

                        @media (max-width: $tablet-large) {
                            padding-bottom: 50%;
                        }

                        a {
                            overflow-y: hidden;
                            width: 100%;
                            height: 100%;
                            position: absolute;
                            background-size: cover;
                            background-position: top center;
                            background-repeat: no-repeat;

                            -webkit-filter: grayscale(100%) saturate(0%) brightness(70%) contrast(100%);
                            filter: gray grayscale(100%) saturate(0%) brightness(70%) contrast(100%); 
                            filter: url(desaturate.svg#greyscale);  
                            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                            // @include prefix( "transition", all .2s ease);
                        }

                        .video-label {
                            pointer-events:none;
                            text-align: center;
                            position: absolute;
                            width: 100%;
                            height: 80px;
                            top: 0;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: auto;
                            // height: 100%;
                            text-transform: uppercase;
                            font-family: 'gotham-book';
                            h3 {
                                color: $cfmred;
                                font-size: 1.1em;
                                line-height: 1.2em;
                            }

                            h2 {
                                color: #fff;
                            }

                            .label-line {
                                border-top: 2px solid #fff;
                            }

                            h4 {
                                color: #fff;
                                font-size: 0.75em;
                            }

                            @media (max-width: 550px) {
                                line-height: 0.9em;
                                height: 50px;
                                h3 {
                                    font-size: 0.7em;
                                    line-height: 0.9em;
                                }
                                h2 {
                                    font-size: 0.75em;
                                }

                                h4 {
                                    font-size: 0.6em;
                                }

                                .label-line {
                                    border-top: 1px solid #fff;
                                }
                            }
                        }
                    }
                }
            }

            .page-footer-navigation {

                .navigation-inner {
                    line-height: 13px;
                    position: relative;
                    // height: 90px;
                    height: 80px;

                    li {
                        list-style-type: none;
                    }

                    .previous-button {
                        float: left;
                    }

                    .next-button {
                        float: right;
                    }

                    .back-grid {
                        cursor: pointer;
                        margin: auto;
                        display: inline-block;
                        border-left: 1px solid #fff;
                        border-right: 1px solid #fff;
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        // width: 90px;
                        width: 140px;

                        // @include prefix( "transition", all .1s ease);

                        // &:hover {
                        //  width: 200px;
                        // }

                        a {
                            // background-position:center center;
                            // background-repeat: no-repeat;
                            // background-size: 40px 40px;
                            // width: 40px;
                            // height: 40px;
                            // padding: 25px;
                            display: block;
                            padding: 32px 0;

                        }
                    }

                    a {
                        display: inline-block;
                        color: #fff;
                        text-transform: uppercase;
                        // padding: 35px 0;
                        padding: 30px 0;

                        #arrow-right {
                            width: 0; 
                            height: 0; 
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent;
                            
                            border-left: 10px solid #fff;
                            display: inline-block;
                            vertical-align: middle;
                        }

                        #arrow-left {
                            width: 0; 
                            height: 0; 
                            border-top: 10px solid transparent;
                            border-bottom: 10px solid transparent; 
                            
                            border-right:10px solid #fff; 
                            display: inline-block;
                            vertical-align: middle;
                        }       

                        .director-name {
                            display: inline-block;
                            padding: 0 20px;
                            vertical-align: middle;

                        }   
                    }

                    @media (max-width: 600px) {
                        height: auto;
                        .previous-button, .next-button, .back-grid {
                            float: none;
                            display: block;
                            position: static;
                            margin: auto;
                        }

                        .previous-button, .next-button {
                            border-top: 1px solid #fff;
                        }

                    }

                }

            }



        }

        @-webkit-keyframes kenburns {
          0% {
            -webkit-transform: scale(1) rotate(0deg)
          }
          50% {
            -webkit-transform: scale(1.4)
          }
          100% {
            -webkit-transform: scale(1) rotate(0deg)
          }
        }

        @-moz-keyframes kenburns {
          0% {
            -moz-transform: scale(1) rotate(0deg)
          }
          50% {
            -moz-transform: scale(1.4)
          }
          100% {
            -moz-transform: scale(1) rotate(0deg)
          }
        }

        @-ms-keyframes kenburns {
          0% {
            -ms-transform: scale(1) rotate(0deg)
          }
          50% {
            -ms-transform: scale(1.4)
          }
          100% {
            -ms-transform: scale(1) rotate(0deg)
          }
        }

        @keyframes kenburns {
          0% {
            transform: scale(1) rotate(0deg)
          }
          50% {
            transform: scale(1.4)
          }
          100% {
            transform: scale(1) rotate(0deg)
          }
        }

        @-webkit-keyframes grain {
          0%, 100% {
            -webkit-transform: translate(0, 0, 0)
          }
          10% {
            -webkit-transform: translate(-1%, -1%)
          }
          20% {
            -webkit-transform: translate(1%, 1%)
          }
          30% {
            -webkit-transform: translate(-2%, -2%)
          }
          40% {
            -webkit-transform: translate(3%, 3%)
          }
          50% {
            -webkit-transform: translate(-3%, -3%)
          }
          60% {
            -webkit-transform: translate(4%, 4%)
          }
          70% {
            -webkit-transform: translate(-4%, -4%)
          }
          80% {
            -webkit-transform: translate(2%, 2%)
          }
          90% {
            -webkit-transform: translate(-2%, -2%)
          }
        }

        @-moz-keyframes grain {
          0%, 100% {
            -moz-transform: translate(0, 0, 0)
          }
          10% {
            -moz-transform: translate(-1%, -1%)
          }
          20% {
            -moz-transform: translate(1%, 1%)
          }
          30% {
            -moz-transform: translate(-2%, -2%)
          }
          40% {
            -moz-transform: translate(3%, 3%)
          }
          50% {
            -moz-transform: translate(-3%, -3%)
          }
          60% {
            -moz-transform: translate(4%, 4%)
          }
          70% {
            -moz-transform: translate(-4%, -4%)
          }
          80% {
            -moz-transform: translate(2%, 2%)
          }
          90% {
            -moz-transform: translate(-2%, -2%)
          }
        }

        @-ms-keyframes grain {
          0%, 100% {
            -ms-transform: translate(0, 0, 0)
          }
          10% {
            -ms-transform: translate(-1%, -1%)
          }
          20% {
            -ms-transform: translate(1%, 1%)
          }
          30% {
            -ms-transform: translate(-2%, -2%)
          }
          40% {
            -ms-transform: translate(3%, 3%)
          }
          50% {
            -ms-transform: translate(-3%, -3%)
          }
          60% {
            -ms-transform: translate(4%, 4%)
          }
          70% {
            -ms-transform: translate(-4%, -4%)
          }
          80% {
            -ms-transform: translate(2%, 2%)
          }
          90% {
            -ms-transform: translate(-2%, -2%)
          }
        }

        @keyframes grain {
          0%, 100% {
            transform: translate(0, 0, 0)
          }
          10% {
            transform: translate(-1%, -1%)
          }
          20% {
            transform: translate(1%, 1%)
          }
          30% {
            transform: translate(-2%, -2%)
          }
          40% {
            transform: translate(3%, 3%)
          }
          50% {
            transform: translate(-3%, -3%)
          }
          60% {
            transform: translate(4%, 4%)
          }
          70% {
            transform: translate(-4%, -4%)
          }
          80% {
            transform: translate(2%, 2%)
          }
          90% {
            transform: translate(-2%, -2%)
          }
        }
    }

    .rodeo-bg {
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../img/rodeo-logo.png');

        width: 197px;
        height: 38px;
        margin: 1em auto;
    }

    .rodeo-wrap {
        .rodeo {
            color:#444;
        }

        .label-line {
            margin:1em auto;
            @media(min-width: 501px) {
                margin:1.75em auto;
            }
        }
    }

    #director-page {
        div.logo-may a.x3-logo {
            margin-top:0;
            @media(min-width: 501px) {
                margin-top:0;
            }
        }
    }

    .director-heading {
        color:#444 !important;
        margin-top: 20px !important;
    }
}


.page-template-page-template-click3x-directors-php {
    #logo + .label-line {
        display: none;
    }
}


body.click3x #page-container {
    div.video-overlay {
        div.video-overlay-inner {

            position:relative;
            padding: 0 0 0 0;
            color: #fff; 
            
            .overlay-close {
                cursor: pointer;
                width: 40px;
                height: 40px;
                position: absolute;
                right: 20px;
                top: 200px;
                overflow: hidden;
                border: none;
                outline: none;
                z-index: 100;
                background: url(../img/close-x-grey.png) no-repeat;
                background-position: 50% 50%;
                right: 15px;
                top: 15px;
            }           

            div.swiper-slide {

                div.overlay-credits {
                    text-align: center;
                    margin: 58px 0;

                    h1,h2,h3 {
                        font-family: 'gotham-book';
                        text-transform: uppercase;
                    }
                    h1 {
                        color: $cfmred;
                        margin-top:0.25em;
                    }

                    h2 {
                        font-size: 20px;
                    }

                    @media (max-width: 500px) {
                        margin-top: 15px;
                        margin-bottom: 25px;
                        
                        h1 {
                            font-size: 20px;
                            line-height: 20px;
                        }

                        h3 {
                            font-size: 14px;
                            line-height: 14px;
                        }

                        h2 {
                            font-size: 16px;
                            line-height: 16px;
                        }

                        .label-line {
                            height: 4px;
                        }
                    }

                    padding-bottom: 6px;
                    @media(min-width: 501px) {
                        padding-bottom: 25px;
                    }
                }
            }

            /*--------------------*/
            /* Fillpath */
            /*--------------------*/
            .overlay-nav {
                background-image: none;
                top: 130px;
                @media (max-width: 500px) {
                    // top: 100px;
                        top: 66px;
                }
            }
            
            .overlay-nav a {
                width: 30px;
                height: 30px;
            }

            .overlay-nav .icon-wrap {
                position: relative;
                display: block;
                width: 100%;
                height: 100%;
            }

            .overlay-nav a::before,
            .overlay-nav a::after,
            .overlay-nav .icon-wrap::before,
            .overlay-nav .icon-wrap::after {
                position: absolute;
                left: 50%;
                width: 3px;
                height: 50%;
                background: #444;
                content: '';
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
            }

            .overlay-nav .icon-wrap::before,
            .overlay-nav .icon-wrap::after {
                z-index: 100;
                height: 0;
                background: $cfmred;
                -webkit-transition: height 0.3s, -webkit-transform 0.3s;
                transition: height 0.3s, transform 0.3s;
            }

            .overlay-nav a::before,
            .overlay-nav .icon-wrap::before {
                top: 50%;
                -webkit-transform: translateX(-50%) rotate(-135deg);
                transform: translateX(-50%) rotate(-135deg);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
            }

            .overlay-nav a.next::before,
            .overlay-nav a.next .icon-wrap::before {
                -webkit-transform: translateX(-50%) rotate(135deg);
                transform: translateX(-50%) rotate(135deg);
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
            }

            .overlay-nav a::after,
            .overlay-nav .icon-wrap::after {
                top: 50%;
                -webkit-transform: translateX(-50%) rotate(-45deg);
                transform: translateX(-50%) rotate(-45deg);
                -webkit-transform-origin: 0 0;
                transform-origin: 0 0;
            }

            .overlay-nav a.next::after,
            .overlay-nav a.next .icon-wrap::after {
                -webkit-transform: translateX(-50%) rotate(45deg);
                transform: translateX(-50%) rotate(45deg);
                -webkit-transform-origin: 100% 0%;
                transform-origin: 100% 0%;
            }

            .overlay-nav a:hover .icon-wrap::before,
            .overlay-nav a:hover .icon-wrap::after {
                height: 0;
            }

            @media (min-width: 768px) {
                .overlay-nav a {
                    width: 50px;
                    height: 50px;
                }

                .overlay-nav a:hover .icon-wrap::before,
                .overlay-nav a:hover .icon-wrap::after {
                    height: 50%;
                }

                .overlay-nav a:hover::before,
                .overlay-nav a:hover .icon-wrap::before {
                    -webkit-transform: translateX(-50%) rotate(-125deg);
                    transform: translateX(-50%) rotate(-125deg);
                }

                .overlay-nav a.next:hover::before,
                .overlay-nav a.next:hover .icon-wrap::before {
                    -webkit-transform: translateX(-50%) rotate(125deg);
                    transform: translateX(-50%) rotate(125deg);
                }

                .overlay-nav a:hover::after,
                .overlay-nav a:hover .icon-wrap::after {
                    -webkit-transform: translateX(-50%) rotate(-55deg);
                    transform: translateX(-50%) rotate(-55deg);
                }

                .overlay-nav a.next:hover::after,
                .overlay-nav a.next:hover .icon-wrap::after {
                    -webkit-transform: translateX(-50%) rotate(55deg);
                    transform: translateX(-50%) rotate(55deg);
                }
            }

            #arrow-left {
                @media (min-width: 900px) {
                    left: 20%;
                }
            }

            #arrow-right {
                @media (min-width: 900px) {
                    right: 20%;
                }
            }

            // .cfm-videoplayer {
            //  video.loading {
            //    background: black url(../img/close-overlay.png) center center no-repeat;
            //  }
            // }


        }
    }
}