$c3x_red : #b4132d;
$cfmred:#b4132d;

body.click3x {
    .single-project-container {
        p { 
            font-size: 1em;
        }
        .overlay-credits {
            text-align: center;
            margin: 58px 0;

            h1,h2,h3 {
                font-family: 'gotham-book';
                text-transform: uppercase;
            }
            h1 {
                color: $cfmred;
                margin-top:0.25em;
            }

            h2 {
                font-size: 20px;
            }

            @media (max-width: 500px) {
                margin-top: 15px;
                margin-bottom: 25px;
                
                h1 {
                    font-size: 20px;
                    line-height: 20px;
                }

                h3 {
                    font-size: 14px;
                    line-height: 14px;
                }

                h2 {
                    font-size: 16px;
                    line-height: 16px;
                }

                .label-line {
                    height: 4px;
                }
            }

            padding-bottom: 6px;
            @media(min-width: 501px) {
                padding-bottom: 25px;
            }
        }


        @media( max-width:$tablet-small){
            .page-header-inner p {
                font-size: 0.78em;
                letter-spacing: 0.04em;
                line-height: 1.5em;
            }
        }

        .page-header{
            padding: 12px 20px;
            @media(min-width: 501px) {
                padding:20px;
            }

            @media( min-width:$tablet-small){
                padding:14px 45px;
            }

            @media( min-width:840px){
                padding:0px 130px 20px;
            }

            .page-header-inner{
                h1,h2,h3{
                    margin:0 0 20px 0;
                    font-family:"gotham-book";
                }

                p{
                    margin:4px 0 30px 0;
                }

                .page-header-description{
                    @media( min-width:$desktop){
                        @include prefix("column-count", 2);
                        @include prefix("column-gap", 40px);
                    }

                    p{
                        @include prefix("column-break-inside", "avoid");
                        margin:0 0 10px 0;
                    }
                }
            }
        }
    }
}

.single-project.click3x {
    #header-container {
        #logo + .label-line {
            display: none;
        }
    }
}