$c3x_red : #b4132d;
$cfmred:#b4132d;

body.click3x {
    background-color: $cfmred;
    

    .cfm-videoplayer .cfm-videoplayer-inner {
      background: black;
    }

    #site-wrapper {
        border-top: 18px solid $cfmred;
        background-color:#ffffff;
        @media (max-width: 500px) {
            border-top: 10px solid $cfmred;
        }
    }

    #header-container {
        position: static;
        width: 100%;
        top: 5px;
        margin-top: 5px;
        background:transparent;
        z-index: 6;
    }

    .hamburger span, #hamburger-open span {
        background: #111;
    }



    #footer-container {
        padding: 20px 8px 8px 8px;
        background-color:$c3x_red;
        font-family: 'gotham-book';
        font-size: 0.75em;
    }

    div.logo-may {
        position: relative;
        margin: auto;
        text-align: center;
        width: 205px;

        a{
            display: block;
            margin:auto;
            background-repeat:no-repeat;
            background-position: 50% 50%;
            background-size: contain;
        }

        a.click-3x-logo {
            background-image:none;
            width:130px;
            height: 27px;
            margin-top:13px;
            margin-bottom:13px;

            @media(min-width: 501px) {
                width:195px;
                height: 40px;
                margin-top:15px;
                margin-bottom:15px;
            }
        }

        a.x3-logo {
            margin-bottom:16px;
            margin-top: 31px;
            width: 83px;
            height: 68px;

            @media(min-width: 501px) {
                width: 125px;
                height: 103px;
                margin-bottom:24px;
                margin-top: 47px;
            }
        }
        .label-line {
            margin-bottom: 0;
        }
    }

    #header-container, #overlay-header-container, #home-header {
        .header-inner{
            position: relative;
            margin-top: 15px;
            padding:0;
            @media( min-width:$tablet-small){
                padding:0 40px 0 40px;
            }
        }
    }

    .hamburger, #hamburger-open{
        span{
            height: 15%;
        }
    }

    #page-container{
        padding-top: 0;

        .page-header{
            .page-header-inner{
                h1 {
                    font-size: 20px;
                    line-height: 1em;
                    margin-top:0.55em;

                    @media(min-width: 501px) {
                        font-size: 34px;
                    }
                }
            }
        }
    }

    // FOOTER 
    #footer-container {
        padding: 20px 8px 8px 8px;
        text-align: center;

        .cfm-logo-footer {
            background-size:contain;
            opacity: 1;
            margin: 4px 20px 20px 0px;

            background-image:url('../img/click3x_logo-may-26-all-white.svg');
            background-repeat: no-repeat;
            width:121px;
            height: 24px;
            clear:both;

            float: none;
            margin-left: auto;
            margin-right: auto;
            display: block;

            @media(min-width: 768px) {
                margin-left: 16px;
                margin-right: 20px;
                float: left;
            }
        }
        p {
            margin-top: 5px;
            margin-left: 2px;
            margin-bottom: 14px;
            max-width: 160px;
            clear:both;
            display: block;

            margin-left:auto;
            margin-right: auto;
            text-align: center;

            @media(min-width: 768px) {
                margin-top: 0;
                margin-left: 0;
                margin-bottom: 7px;
                max-width: none;
                float: left;
                clear: none;
                text-align: left;
            }
        }

        .social-navigation {
            display:block;
            margin-top:0;
            position: static;
            right: auto;
            bottom: auto;
            clear:both;
            display: inline-block;

            @media(min-width: 768px) {
                display: block;
                clear: none;
                float: right;
                > ul {
                    margin-top:0;
                    margin-bottom: 1em;
                }
            }
        }
    }

    // svg {
    //     display: none;
    // }

    .svg svg {
        display: block;

        .no-svg {
            display: none;
        }
    }


    #page-container {
        #director-details-container .page-header .page-header-inner h1 {
            margin-top: 5px;
        }
    }

    #back-top-btn {
        display: none;
    }

    .logo-white-may {
        margin-left: auto;
        margin-right: auto;

        background-image: none;
        width: 130px;
        height: 24px;
        margin-top: 13px;
        margin-bottom: 13px;

        @media(min-width: 501px) {
            width: 195px;
            height: 36px;
            margin-top: 13px;
            margin-bottom: 15px;
        }
    }

    #contact-page div.title-label {
        margin: 25px auto;
    }

    .company-container > div.active-index {
        border-top:2px solid $cfmred;
    }

    .intro .page-header{
        padding:0 !important;
        text-align: center;
    }

    .intro .page-header-inner{
        max-width: 100%;
        width: 100%;
        display: inline-block;
        margin-top: -10px;
    }

    .logo-tri {
        display: inline-block;
        padding:0;
        margin:-40px 0 15px 0;
        vertical-align: bottom;

        @media(max-width: 800px){
            margin:-30px 0 15px 0;
        }

        li {
            display: inline-block;
            position: relative;
            list-style-type: none;
            text-align: center;
            margin:0 10px;
            margin-top: 20px;
            background-color:transparent;

            .inner{
                padding:10px;

                @media(max-width: 768px) {
                    padding:10px 0;
                }
            }

            @include prefix(transition, background-color 200ms ease-out);

            &:hover {
                background-color: #DEDADA;
            }

            h1 {
                display: none;
            }

            a {
                text-decoration: none;
            }

            img{
                width: 160px;
            }

             @media(max-width: 480px){
                max-width: 100%;
                margin:0;
             }
        }

        .cfm {
            img {
                width:300px;

                @media(max-width: 480px){
                    width:260px;
                    margin-top:0px;
                }
            }
        }

        .c3x {
            img{
            }
        }

        .stoked {
            img {
            }
        }

        .x3 {
            img {
                width:240px;
            }
        }
    }

    .copy-container {
        p {
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            margin: 10px auto 0 auto!important;

            @media(max-width: 480px){
                font-size: 12px !important;
                line-height: 15px !important;
            }
        }
    }


    div.cfm-project-gallery{
        margin:0 0 0 0;
        padding:0 0;
        background: transparent;
        border:none;

        ul{
            margin:0;

            li{
                @media( min-width:700px){ width:50%; }
                @media( min-width:$desktop-large){ width:33.33334%; }

                div.project-inner{
                    padding:0;
                    position: relative;

                    a{
                        background-size:100.5%;
                        background-color: #FFF;

                        cursor: pointer;
                        display: block;
                        padding-bottom: 50%;
                        background-color: #EEE;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-position: center;
                        position: relative;
                        height: 0;
                    }

                    div.project-label {

                        div.project-label-inner{

                            position: absolute;
                            width: 100%;
                            height: auto;                       
                            // bottom: 20px;
                            bottom: 10%;
                            margin: auto;
                            text-align: center;
                            cursor: pointer;

                            // opacity: 0;
                            @include prefix( "transition", opacity .1s ease);

                            .label-line {
                                border-top: none;
                                border-bottom: 2px solid #fff;
                            }

                            h2,h3,h4 {
                                color: #fff;
                                text-transform: uppercase;
                            }

                            h3 {
                                font-size: 0.85em;
                                color: $cfmred;
                                font-family: 'gotham-book';
                            }

                            h4 {
                                font-size: 1em;
                            }


                            h2 {
                                font-size: 1.1em;
                                font-family: 'gotham-book';
                            }

                            @media (max-width: 550px) {
                                line-height: 0.9em;
                                height: 72px;
                                h3 {
                                    font-size: 0.68em;
                                    line-height: 0.9em;
                                }
                                h2 {
                                    font-size: 0.85em;
                                }

                                h4 {
                                    font-size: 0.8em;
                                }

                                .label-line {
                                    border-bottom: none;
                                    border-top: 1px solid #fff;
                                }
                            }

                        }
                    }

                    // &.hoverfriend:hover {
                    //     a {
                    //         -webkit-filter: none;
                    //         filter: none;
                            
                    //         overflow-y: hidden;
                    //         -webkit-filter: grayscale(100%) saturate(0%) brightness(70%) contrast(100%);
                    //         filter: gray grayscale(100%) saturate(0%) brightness(70%) contrast(100%); 
                    //         filter: url(desaturate.svg#greyscale);  
                    //         filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */          

                    //         -webkit-transition: all 0.9s ease-in;
                    //         -moz-transition: all 0.9s ease-in;
                    //         -ms-transition: all 0.9s ease-in;
                    //         transition: all 0.9s ease-in;

                    //         .red-gradient {
                    //             opacity: 0;
                    //             -webkit-transform: translateY(100%);
                    //             -moz-webkit-transform: translateY(100%);
                    //             -ms-webkit-transform: translateY(100%);
                    //             transform: translateY(100%);

                    //             /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+27,0+70,1+100 */
                    //             background: -moz-linear-gradient(top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.82) 82%, rgba(0,0,0,0.82) 100%); /* FF3.6-15 */
                    //             background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,0.82) 100%); /* Chrome10-25,Safari5.1-6 */
                    //             background: linear-gradient(to bottom,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,0.82) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                    //             filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d1000000',GradientType=0 ); /* IE6-9 */

                    //             -webkit-transition: all 0.9s ease-in;
                    //             -moz-transition: all 0.9s ease-in;
                    //             -ms-transition: all 0.9s ease-in;
                    //             transition: all 0.9s ease-in;
                    //         }
                    //     }
                    // }
                    
                }
            }
        }
    }


    .label-line {
        border-top: 2px solid #111;
        width: 40px;
        display: block;
        height: 2px;
        margin: 0.5em auto 0.5em;
        // margin: 1.5em auto 0.5em;
    }

    #logo + .label-line,
    .logo-may .label-line {
        margin: 1.5em auto 0.5em;
    }

    // .video-label .label-line {
    //     margin: 0.5em auto 0.5em;
    // }

    .home-page .logo-may .label-line {
        border-color:#fff;
    }

    .red-gradient {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    .gray-filter {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
    }

    .line-arrow{
        display:inline-block;
        width:6px; height:14px;
        background-image:url(../img/arrow.png);
        background-size:12px 28px;
        background-repeat:no-repeat;
        vertical-align:middle;
        margin:-2px 8px 0 0;

        &.line-arrow-right{
            background-position:0 -14px;
            margin:-2px 0 0 8px;
        }
    }


    #footer-container {
        background-color: #b4132d;
        font-family: 'gotham-book';
        font-size: 0.75em;
        text-transform: uppercase;
        padding: 15px 8px 5px 8px;
        position: relative;
        color: #fff;
        // z-index: 11;

         p{
            line-height:1.5em;
            // display: inline-block;
            padding: 0;
            vertical-align: top;
            font-size: 0.8em;
        }

        .social-navigation {
            display:block;
            margin-top:0;
            position: static;
            right: auto;
            bottom: auto;
            clear:both;
            display: inline-block;

            @media(min-width: 768px) {
                display: block;
                clear: none;
                float: right;
                > ul {
                    margin-top:0;
                    margin-bottom: 1em;
                }
            }
        }

    }


    #header-container div.logo {
        float: none;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        width: 205px;
    }


    div.title-label {
        text-transform: uppercase;
        font-family: 'gotham-book';
        text-align: center;
        // margin: 20px auto 0 auto;
        margin: 20px auto;
        // margin: 1em auto;
        position: relative;

        .director-prev {
            position: absolute;
            left: 20px;
            top: 0;
        }

        .director-next {
            position: absolute;
            right: 20px;
            top: 0;
        }
        a {
            text-decoration: none;
            color: #444444;
            display: inline-block;
            vertical-align: top;
            padding: 0 10px;
        }

        h3{
            @media(max-width:480px){
                font-size: .75em;
            }
        }
    }

    #hamburger {
        position: absolute;
        // top: 0;
        z-index: 20;

        // @media(min-width: 501px) {
            top: -5px;
        // }
    }


    .cfm-navigation.mobile-menu .mobile-menu-inner ul li a {
        background: $cfmred;
    }

    .hamburger .hamburger-inner a {
        color:#ffffff;
    }


    div.social-navigation ul li.facebook-btn div.project-inner a {
      background-image: url(../../../../../images/social/c3x/facebook_icon.svg);
    }
    div.social-navigation ul li.twitter-btn div.project-inner a {
      background-image: url(../../../../../images/social/c3x/twitter_icon.svg);
    }
    div.social-navigation ul li.pinterest-btn div.project-inner a {
      background-image: url(../../../../../images/social/c3x/pinterest_icon.svg);
    }
    div.social-navigation ul li.instagram-btn div.project-inner a {
      background-image: url(../../../../../images/social/c3x/instagram_icon.svg);
    }
    div.social-navigation ul li.youtube-btn div.project-inner a {
      background-image: url(../../../../../images/social/c3x/youtube_icon.svg);
    }


    div.social-navigation{
        margin-top:3px;

        ul{
            // display: inline-block;
            display:block;
            margin:0 auto;
            list-style: none;
            padding:0;
            margin-bottom: 13px;
            margin-top: 5px;
            margin-right: 5px;

            @media(min-width: 768px) {
                
                margin-right:28px;
                margin-bottom: 0;
            }

            @include clearfix;

            li{
                float: left;
                // width:50px;
                width:34px;
                border:2px solid white;
                margin-left:22px;

                &:first-of-type {
                    margin-left: 0;
                }

                div.project-inner{
                    a{
                        display: block;
                        padding-bottom: 100%;
                        background-size:contain;
                        background-position: 50% 50%;
                        background-repeat: no-repeat;

                        div.project-label{
                            display: none;
                        }
                        @include prefix(transition, background-color 300ms ease-in);

                        &:hover{
                            // background-position:0 -50px;
                            background-color:#7b1612;
                            @include prefix(transition, background-color 180ms ease-out);
                        }
                    }
                }
            }
        }
    }

    #logo {
        width:130px;
        height: 27px;
        margin-top:13px;
        margin-bottom:13px;

        @media(min-width: 501px) {
            width:195px;
            height: 40px;
            margin-top:15px;
            margin-bottom:15px;
        }
    }


    a.x3-logo {
        margin: auto;
        margin-bottom:25px;
        margin-top: 25px;
        width: 83px;
        height: 68px;

        display: block;
        

        @media(min-width: 501px) {
            width: 125px;
            height: 103px;
            margin-bottom:35px;
            margin-top: 35px;
        }
    }

    #page-container {
        @media( max-width:$tablet-small){
            .page-header-inner p {
                font-size: 0.78em;
                letter-spacing: 0.04em;
                line-height: 1.5em;
            }
        }

    }

}

.menu-open .click3x {
    .hamburger span, #hamburger-open span {
        background: #fff;
    }
}



html.click3x {
    background: #b4132d;
}


.click3x {

    // h1 {
    //     color: $cfmred;
    //     text-align: center;
    //     font-family: 'gotham-book';
    //     text-transform: uppercase;
    // }

    div.project-inner {
        position: relative;

        a {
            overflow-y: hidden;
            -webkit-filter: grayscale(100%) saturate(0%) brightness(70%) contrast(100%);
            filter: gray grayscale(100%) saturate(0%) brightness(70%) contrast(100%); 
            filter: url(desaturate.svg#greyscale);  
            filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */          

            -webkit-transition: all 0.9s ease-in;
            -moz-transition: all 0.9s ease-in;
            -ms-transition: all 0.9s ease-in;
            transition: all 0.9s ease-in;

            // @include prefix( "transition", all .1s ease);
        }

        div.project-label {

            position: absolute;
            width: 100%;
            height: auto;
            // bottom: 20px;
            bottom: 10%;
            text-align: center;

            div.project-label-inner{

                .label-line {
                    border-top: none;
                    border-bottom: 2px solid #fff;
                }

                h2 {
                    text-transform: uppercase;
                    color: #fff;
                    font-size: 1em;

                    @media(max-width:480px){
                            font-size: .8em;
                    }
                }

            }
        }
    }

    .hoverfriend {
        .red-gradient {
            opacity: 0;

            -webkit-transform: translateY(100%);
            -moz-webkit-transform: translateY(100%);
            -ms-webkit-transform: translateY(100%);
            transform: translateY(100%);

            /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0.65+0,0+27,0+70,1+100 */
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.82) 82%, rgba(0,0,0,0.82) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,0.82) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.82) 82%,rgba(0,0,0,0.82) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d1000000',GradientType=0 ); /* IE6-9 */

            -webkit-transition: all 0.9s ease-in;
            -moz-transition: all 0.9s ease-in;
            -ms-transition: all 0.9s ease-in;
            transition: all 0.9s ease-in;
        }
    }

    div.hoverfriend:hover {

        a {
            -webkit-filter: none;
            filter: none;

            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out; 
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;              
            
        }

        .red-gradient {
            opacity: 1;
            -webkit-transform: translateY(0%);
            -moz-transform: translateY(0%);
            -ms-transform: translateY(0%);
            transform: translateY(0%);

            -webkit-transition: all 0.2s ease-out;
            -moz-transition: all 0.2s ease-out; 
            -ms-transition: all 0.2s ease-out;
            transition: all 0.2s ease-out;
        }               
    }

    #mobile-menu .logo-white-may {
        @media(max-width: 500px) {
            margin-top:5px;
        }
    }

}