$c3x_red : #b4132d;
$cfmred:#b4132d;

body.click3x {

    div#home-page{
        position: relative;

        .introVideoWrapper {
              position: absolute;
              top: 0;
              width: 100%;
              height: 100%;
              z-index: 60000;
              background: #000;
              overflow: hidden;

              #introVideoContainer {
                position: relative;
                height: 100%;
                width: 100%;
                overflow: hidden;

                #skip-intro-btn {
                    cursor: pointer;
                    position: absolute;
                    top: 10px;
                    right: 58px;
                    color: $cfmred;
                    font-size: 14px;
                }

                #speaker {
                    display: inline-block;
                    background-image: url("../img/mute-icon.png");
                    background-position: 0px 0px;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 7px;
                    right: 23px;
                    opacity: 0.5;
                    cursor: pointer;
                    -webkit-transform: scale(0.6);
                    -moz-transform: scale(0.6);
                    -ms-transform: scale(0.6);
                    transform: scale(0.6);
                }

                .mute {
                    background-position: 40px 0px !important;
                }

                #introVideoElement {
                    position: absolute;
                      top: -9999px;
                      bottom: -9999px;
                      left: -9999px;
                      right: -9999px;
                      margin: auto;
                      min-height: 100%;
                      height: auto;
                      width: auto;
                      min-width: 100%;


                }

                .introVideoElement_desktop {
                    @media(max-width: 1400px) {
                        width: 100% !important;
                        min-height: auto !important;
                        top: 0 !important;
                        bottom: 0 !important;
                    }
                }
              }
        }

        .home-swiper-container {
            position: relative;
        }

        #animation-over-slides { position: absolute; left: 0px; top: 0px; width: 100%; height: 100%; }
        @media only screen and (max-width: 700px) { #animation-over-slides { visibility: hidden; } }

        #shape-container, #shape-containerA { height: 100%; position: absolute; left: 100%; /* Position X to start with */ top: 0px; width: 100%; opacity: 100; visibility: visible; }

        #shape-container2, #shape-container2A { height: 100%; position: absolute; left: -100%; /* Position X to start with */ top: 0px; width: 100%; opacity: 100; visibility: visible; }

        /* Colors on shapeA and shape2 match, and on shape and shape2A */
        .Shape_mid { background-color: white; position: absolute; top: 0px; left: 20%; width: 42%; height: 100%; z-index: 50002; transform: skewX(30deg); -moz-transform: skewX(30deg); -ms-transform: skewX(30deg); -webkit-transform: skewX(30deg); -o-transform: skewX(30deg); opacity: 0.8; }
        @media only screen and (max-width: 700px) { .Shape_mid { left: -10%; } }

        .Shape_base { background-color: #727272; position: absolute; top: 0px; left: 5%; width: 57%; height: 100%; z-index: 50001; transform: skewX(30deg); -moz-transform: skewX(30deg); -ms-transform: skewX(30deg); -webkit-transform: skewX(30deg); -o-transform: skewX(30deg); opacity: 0.6; }
        @media only screen and (max-width: 700px) { .Shape_base { left: -10%; } }

        .ShapeA_mid { background-color: white; position: absolute; top: 0px; left: 20%; width: 42%; height: 100%; z-index: 50002; transform: skewX(30deg); -moz-transform: skewX(30deg); -ms-transform: skewX(30deg); -webkit-transform: skewX(30deg); -o-transform: skewX(30deg); opacity: 0.8; }
        @media only screen and (max-width: 700px) { .ShapeA_mid { left: -10%; } }

        .ShapeA_base { background-color: white; position: absolute; top: 0px; left: 5%; width: 57%; height: 100%; z-index: 50001; transform: skewX(30deg); -moz-transform: skewX(30deg); -ms-transform: skewX(30deg); -webkit-transform: skewX(30deg); -o-transform: skewX(30deg); opacity: 0.6; }
        @media only screen and (max-width: 700px) { .ShapeA_base { left: -10%; } }

        .Shape2_mid { background-color: white; position: absolute; top: 0px; left: 35%; width: 45%; height: 100%; z-index: 50003; transform: skewX(-30deg); -moz-transform: skewX(-30deg); -ms-transform: skewX(-30deg); -webkit-transform: skewX(-30deg); -o-transform: skewX(-30deg); opacity: 0.4; }
        @media only screen and (max-width: 700px) { .Shape2_mid { left: 65%; } }

        .Shape2_base { background-color: white; position: absolute; top: 0px; left: 30%; width: 52%; height: 100%; z-index: 50004; transform: skewX(-30deg); -moz-transform: skewX(-30deg); -ms-transform: skewX(-30deg); -webkit-transform: skewX(-30deg); -o-transform: skewX(-30deg); opacity: 0.6; }
        @media only screen and (max-width: 700px) { .Shape2_base { left: 60%; } }

        .Shape2A_mid { background-color: white; position: absolute; top: 0px; left: 40%; width: 45%; height: 100%; z-index: 50003; transform: skewX(-30deg); -moz-transform: skewX(-30deg); -ms-transform: skewX(-30deg); -webkit-transform: skewX(-30deg); -o-transform: skewX(-30deg); opacity: 0.4; }
        @media only screen and (max-width: 700px) { .Shape2A_mid { left: 60%; } }

        .Shape2A_base { background-color: #727272; position: absolute; top: 0px; left: 30%; width: 52%; height: 100%; z-index: 50004; transform: skewX(-30deg); -moz-transform: skewX(-30deg); -ms-transform: skewX(-30deg); -webkit-transform: skewX(-30deg); -o-transform: skewX(-30deg); opacity: 0.6; }
        @media only screen and (max-width: 700px) { .Shape2A_base { left: 60%; } }

        .swiper-bullet-inner {
            background: transparent;
            border: 1px solid #fff;
        }

        .swiper-pagination-bullet-active .swiper-bullet-inner {
            background: $cfmred;
            border: 1px solid transparent;
        }

        #home-header {
            position: absolute;
        }

        #overlay-header-container {
            border-top: 25px solid $cfmred;
        }

        .featured-carousel-container {
            .swiper-slide {
                position: relative;

                .video-credits {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                    height: 130px;                  
                    text-align: center;
                    text-transform: uppercase;

                    h1,h2,h3 {
                        color: #fff;
                    }

                    .label-line {
                        border-top: 2px solid #fff;
                        width: 60px;
                        height: 4px;
                    }

                    h1 {
                        // font-family: 'gotham-book';
                        font-family: 'gotham-book';
                    }

                    h3 {
                        color: $cfmred;
                        // font-family: 'gotham-bold';
                        font-family: 'gotham-book';
                        font-size: 1em;
                    }

                    a {
                        text-decoration: none;
                        cursor: pointer;
                    }

                    @media (max-width: 500px) {
                        h1 {
                            font-size: 20px;
                            line-height: 25px;
                        }

                        h2 {
                            font-size: 0.8em;
                        }

                        h3 {
                            font-size: 0.8em;
                            margin-top: 0.5em;
                        }

                        line-height: 1em;
                        height: 95px;
                    }

                    @media (max-height: 350px) {
                        h1 {
                            font-size: 20px;
                            line-height: 25px;
                        }

                        h2 {
                            font-size: 0.8em;
                        }

                        h3 {
                            font-size: 0.8em;
                            margin-top: 0.5em;
                        }

                        line-height: 1em;
                        height: 95px;
                    }

                    div.director-name {
                        display: inline-block;

                        div.director-underline {
                            width: 100%;
                          height: 2px;
                          margin: 8px auto auto auto;
                          background-color: $cfmred;
                          visibility: hidden;
                          -webkit-transform: scaleX(0);
                          transform: scaleX(0);
                          -webkit-transition: all 0.2s ease-in-out 0s;
                          transition: all 0.2s ease-in-out 0s;
                        }

                        &:hover {
                            div.director-underline {
                                visibility: visible;
                                -webkit-transform: scaleX(1);
                                transform: scaleX(1);
                            }
                        }
                    }



                }

                .featured-poster {
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    height: 95vh;
                    width: 100%;
                    position: relative;
                    cursor: pointer;
                    
            //      -webkit-filter: grayscale(100%) saturate(0%) brightness(70%) contrast(100%);
                    // filter: gray grayscale(100%) saturate(0%) brightness(70%) contrast(100%); 
                    // filter: url(desaturate.svg#greyscale);  
                    // filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
                }
            }       
        }

        div.cfm-project-gallery{
            ul{
                li{
                    div.project-inner{
                        a{
                            div.project-label{
                                div.project-label-inner{
                                    h3{
                                    }
                                }
                            }

                            &:hover{
                                div.project-label{
                                    div.project-label-inner{
                                    }
                                }
                            }
                        }   
                    }
                }
            }
         }
         #reel-video.section-header{
            background-color:#eee;

            h3{
                color: #aaa;
            }
         }
         #reel-videoplayer.cfm-videoplayer{
            video{
                background:rgba(240,240,240,.5);
                color:#555;
            }

            .cfm-videoplayer-poster{
                background-color: #FFF;
                background-size:0 0;
                background-position:center center;

                @media(min-width:$tablet-large){
                    background-size:initial;
                }

                .cfm-videoplayer-playbutton{
                    border:1px solid $cfmred;

                    span.arrow{
                        border-left-color: $cfmred;
                    }
                }

                &:hover{
                    .cfm-videoplayer-playbutton{
                        border:1px solid #555;
                        background-color:#FFF;
                        
                        span.arrow{
                            border-left-color: #555;
                        }
                    }
                }
            }
        }
    }


    .company-container {
        border-bottom: 1px solid #777;
        width: 100%;
        position: absolute;
        bottom:0;
        left:0;
        right:0;
        margin:auto;
        // z-index: 11;
        z-index: 1;

        text-transform: uppercase;

        > div {

            text-align: center;
            border-top:1px solid #777;
            position: relative;
            // &:first-of-type{
            //     border-top:0;
            // }
            // &:first-of-type,
            &:nth-of-type(2) {
                @media(min-width: 600px) {
                    &:before {
                        content: "";
                        display: block;
                        position: absolute;
                        top:0;
                        bottom:0;
                        margin: auto;
                        left:0;
                        width: 1px;
                        background-color: #777;
                        height: 100%;
                    }
                    &:after {
                        content: "";
                        display: block;
                        position: absolute;
                        top:0;
                        bottom:0;
                        margin: auto;
                        right:0;
                        width: 1px;
                        background-color: #777;
                        height: 100%;
                    }
                }
            }


            a {
                display:block;
                padding-top:1.25em;
                padding-bottom:1.25em;
                font-size: 0.8rem;
                font-family: gotham-book;
                line-height: 1.3em;
                text-decoration: none;
                text-align: center;
                color: #777;
                padding-left: 0.5rem;
                padding-right: 0.5rem;

                &:hover {
                    color:white;
                }
            }
            @media(min-width: 600px) {

                &:first-of-type {
                    border-top:1px solid #777;
                }
                width: 33.333333%;
                float: left;
                // border-top:0;
            }
        }
    }

    #page-container .swiper-container-horizontal>.swiper-pagination {
        display: none;
    }

    #home-header > div > div.hamburger {
        margin-top:-14px;
    }

    #home-header .logo-may .click-3x-logo {
        display: block;
        @include prefix(transform, translateX(2px));
        @media(min-width: 500px) {
            @include prefix(transform, none);
        }
    }

    div#company-container:before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 150%;
        background: -moz-linear-gradient(top,  rgba(0,0,0,0) 1%, rgba(0,0,0,0) 9%, rgba(0,0,0,0.42) 82%, rgba(0,0,0,0.6) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.42) 82%,rgba(0,0,0,0.6) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(0,0,0,0) 1%,rgba(0,0,0,0) 9%,rgba(0,0,0,0.42) 82%,rgba(0,0,0,0.6) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#d1000000',GradientType=0 ); /* IE6-9 */
    }

    .cfm-navigation.mobile-menu .mobile-menu-inner ul li a, 
    .cfm-navigation.mobile-menu .mobile-menu-inner ul li.current_page_item a, 
    .cfm-navigation.mobile-menu .mobile-menu-inner ul li.current-menu-item a {
        text-transform: uppercase;
    }

    .cfm-navigation.mobile-menu {
        // z-index: 55000;
        background: $cfmred;
        padding-top: 25px;
    }

    .cfm-navigation.mobile-menu .mobile-menu-inner ul li {
        &:hover{
            a{
                background:#ffffff;
                border:none;
                @include prefix(transition, all 300ms ease-out);

                h1{
                    color:$cfmred;
                }
            }
        }
        &.active{
            a{
                background:#ffffff;
                border:none;
                
                h1{
                    // color: #FFF;
                    color:$cfmred;
                }
            }
        }
    }
    .menu-open{
    .mobile-menu{
            top:0; opacity:1;
        }
    }


    &.page-id-4 {
        #Layer_1 path {
            fill:#ffffff;

            &#red-x {
                fill:#b4132d;
            }
        }

        #header-container {
            margin-top: 0;

            .label-line {
                display: none;
            }
        }
    }

}


.menu-open .click3x {
    &.page-id-4 {
        .header-inner .logo-may > a {
            opacity: 0;
        }
    }
}


