$c3x_red : #b4132d;
$cfmred:#b4132d;

body.click3x {
    /**
     * About Page Styles
     */

    #page-container div#about-page{
        padding:0;

        h1 {
            color: $cfmred;
            text-align: center;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }

        .page-header {
            padding-top:20px;
        }

        .page-sub-header {
            margin: 30px auto;
        }

        .page-header-inner {
            max-width: 45em;
            margin: 0 auto;

            h1, h2, h3, h4, h5, h6 { 
                color: $cfmred; 
                text-align: center;
                text-transform: uppercase;
            }

            h1 {
                margin: 1em auto;
            }

            h2 {
                // margin-top: 20px;
                text-transform: none;
                color:#333;
                margin-top: 40px;
                margin-bottom: 10px;
                -webkit-font-smoothing: antialiased;
            }

            p {
                text-align: center;
            }
        }

        #arrow-right {
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            
            border-left: 10px solid #111;
            background-image: none;
        }

        #arrow-left {
            width: 0; 
            height: 0; 
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent; 
            
            border-right:10px solid #111; 
            background-image: none;
        }

        #about-slider {
            // background-color: #b6b6b8;

            .swiper-container {
                padding-bottom: 25px;

                .swiper-pagination {
                    height: 35px;
                    top: 287px;

                    .swiper-bullet-inner {
                        width: 7px;
                        height: 7px;
                        background: #000;
                        border: 1px solid transparent;

                        @media(min-width: 768px) {
                            width: 8px;
                            height: 8px;
                        }
                    }

                    .swiper-pagination-bullet-active .swiper-bullet-inner {
                        background: $cfmred;
                        border: 1px solid transparent;
                    }


                    @media (min-width: 321px) {
                        top: 296px;
                    }

                    @media (min-width: 346px) {
                        top: 315px;
                    }

                    @media (min-width: 768px) {
                        bottom: -10px;
                        top: auto;
                    }
                }

            }

            .bottom-line {
                height: 10px;
                border-top: 1px solid #111;
                display: inline-block;
                width: 40px;
                margin: auto;
            }

            .center-table > div {
              width: 50%;
              display: block;
              margin: 0 auto;
            }

            .center-table > div img {
                width: 100%;
                display: block;

                @media (min-width: 768px) {
                    width: 95%;
                }
            }

            .center-table {
              display: table;
              height: auto;
              width: 100%;
              border-collapse: collapse;
            }

            .center-table > div {
              width: auto;
            }

            @media (min-width: 768px) {
              
              .center-table > div {
                display: table-cell;
                margin: 0;
                width: 50%;
                vertical-align: middle;
              }

            }

            .img-container {
                width: auto;

                @media(min-width: 768px) { width:42.857143%; }
                
                img {
                    margin: 0 auto; 
                    width: auto; 
                    max-width: 350px;
                    height: auto; 
                    max-height: 350px;

                    // @media(min-width: 480px) {
                    //  width: 350px; 
                    //  height: 350px;
                    // }

                    @media(min-width: 768px) { 
                        max-width: 687px; 
                        max-height: 687px;
                        width: auto; 
                        float: right;
                        padding-right: 1em; 
                    }
                }
            }

            .txt-container {
                width:auto;
                text-align: center;
                margin-top: 40px !important;

                @media(min-width: 768px) { width:57.142857%; margin-top: 0;}

                .txt-wrapper {
                    padding: 0;
                    
                    .people-title {
                        font-family: 'gotham-book';
                        text-transform: uppercase;
                        padding-right: 20px;
                    }

                    .people-name {
                        font-family: 'gotham-bold';
                        text-transform: uppercase;
                        padding-right: 20px;
                    }

                    p {
                        font-size: 0.78em; 
                        letter-spacing: 0.04em;
                        line-height: 1.5em;
                        margin: auto;
                        padding-right: 20px;
                        padding-left: 20px;
                        max-width: 687px;
                        text-align: left;
                    }

                    .hidden-bio {
                        display: none;
                    }

                    .view-more {
                        font-size: 0.8em;
                        color: $cfmred;
                        letter-spacing: 1px;
                        font-family: 'gotham-book';
                        cursor: pointer;
                        line-height: 1.6em;
                        display: inline-block;
                    

                        div.more-underline {
                            width: 100%;
                          height: 2px;
                          margin: 0;
                          background-color: $cfmred;
                          -webkit-transform: scaleX(0.5);
                          transform: scaleX(0.5);
                          -webkit-transition: all 0.2s ease-in-out 0s;
                          transition: all 0.2s ease-in-out 0s;  
                        }
                
                        &:hover {
                            div.more-underline {
                                -webkit-transform: scaleX(1);
                                transform: scaleX(1);
                            }
                        }   
                    }

                    @media(min-width: 768px) {
                        float: left;
                        padding-left: 0;
                    }
                    
                    @media(min-width: 1100px) {
                        p { font-size: 0.875em;}
                    }
                }
            }


        }

        .crew-container {
            width: 100%;
            background-position: center center;
            background-repeat:  no-repeat;
            background-size: cover;
            height: 0;
            padding-bottom: 45%;
        }

        .stage-container, .camera-container {
            width: 50%;
            background-position: center center;
            background-repeat:  no-repeat;
            background-size: cover;
            height: 0;
            padding-bottom: 50%;
            display: inline-block;
            vertical-align: top;

            @media(max-width: $tablet-small) {
                width: 100%;
                padding-bottom: 100%;
            }
        }

        div.services{
            padding:0 0 80px 0;

            div.services-section{
                -webkit-column-break-inside: avoid;
                page-break-inside: avoid;
                break-inside: avoid;
                vertical-align: top;
                padding:20px 20px 20px 20px;

                @media(min-width:$tablet-small){
                    padding:20px 40px 20px 40px;
                }
                
                @media(min-width:$tablet-large){
                    padding:20px 80px 20px 80px;
                }

                h2{
                    font-family: "gotham-book";
                    padding:14px 0;
                }

                &:nth-child(even){
                    border-top:1px solid #eee;
                    border-bottom:1px solid #eee;

                    h2{
                    }
                }

                ul{
                    list-style: none;
                    padding:0; margin:10px 0 20px 0;

                    @media(min-width:$tablet-large){
                        @include prefix("column-count", 2);
                        @include prefix("column-gap", 10px);
                    }

                    li{
                        -webkit-column-break-inside: avoid;
                        page-break-inside: avoid;
                        break-inside: avoid;    

                        width:100%;
                        height: auto;
                        vertical-align: top;
                    }
                }
            }
        }

        .bg-img-container {
            > div {
                background-repeat: no-repeat;
                background-position: 50% 50%;
                background-size: cover;

                @media(max-width:599px) {
                    &.crew-container,
                    &.camera {
                        background-position: 50% 43%;
                    }
                    &.stage {
                        background-position: 50% 0%;
                    }
                    &.ball-camera {
                        background-position: 50% 34%;
                    }
                    &.legs {
                        background-position: 50% 24%;
                    }
                    &.jason {
                        background-position: 50% 51%;
                    }
                }
            }

            &.triple {
                >div {
                    height: 0;
                    padding-bottom: 45%;
                    @media(min-width: 600px) {
                        width:33.3333333%;
                        padding-bottom: 33.3333333%;
                        float: left;
                    }
                }
            }

            &.double {
                >div {
                    height: 0;
                    padding-bottom: 45%;
                    @media(min-width: 600px) {
                        width:50%;
                        padding-bottom: 50%;
                        float: left;
                    }
                }
            }
        }
     }

     .crew-container > div {
        width: 100%;
        padding-bottom: 45%;
     }

     #page-container .page-header .page-header-inner h1, #page-container .page-header .page-header-inner h2, #page-container .page-header .page-header-inner h3 {
      font-family: "gotham-book", sans-serif;
    }
}