$c3x_red : #b4132d;
$cfmred:#b4132d;

body.click3x {
    /**
     * Contact Detail Page Styles
     */

    div#contact-page{

        p {
            font-size: 1em;
            margin-top: 0;
            margin-bottom: 0;

            a {
                text-decoration: none;
                display: inline-block;
            }
        }

        .cfm-google-map{
            width: 100%;
            
            #map{
                width: 100%;
                padding-bottom: 100%;

                @media(min-width:$tablet-small){ padding-bottom:80% }
                @media(min-width:$desktop){ padding-bottom:60% }
                @media(min-width:$desktop-large){ padding-bottom:50% }
            }
        }

        h1 {
            color: $cfmred;
            text-align: center;
            font-family: 'gotham-book';
            text-transform: uppercase;
        }

        .address {
            text-align: center;
            margin: 0 auto 25px auto;
            font-family: 'gotham-bold';

            @media (max-width: $tablet-small) {
                line-height: 24px;
                margin: 0 auto 40px auto;
            }
        }

        .social-icons{
            display: block;
            text-align: center;

            ul{
                display: inline-block;
                margin:0 auto;
                list-style: none;
                padding:0;

                @include clearfix;

                li{
                    float: left;
                    width:50px;

                    div.icon-inner{
                        a{
                            display: block;
                            padding-bottom: 100%;
                            background-size:50px 100px;
                            background-position: 0 0;
                            background-repeat: no-repeat;
                        }   
                    }
                }

                .facebook-btn a {
                    background-image:url(../img/facebook_icon_black.png);
                    &:hover{
                        background-position:0 -50px;
                    }
                }

                .twitter-btn a {
                    background-image:url(../img/twitter_icon_black.png);
                    &:hover{
                        background-position:0 -50px;
                    }
                }
            }
        }

        div.inquiry-container {
            text-align: center;
            margin: auto;
            line-height: 1em;
            width: 95%;
            max-width: 1200px;

            h3 {
                color: $cfmred;
                font-family: 'gotham-bold';
                text-transform: uppercase;
                font-size: 1em;
            }

            .label-line {
                margin-top: 15px;
            }

            .name-title {
                font-size: 0.8em;
            }

            .email,.phone {
                color: $cfmred;
                text-decoration: none;
                font-size: 0.8em;
                font-family: 'gotham-bold';
            }

            div.inquiry-general {

                display: inline-block;
            }

            div.inquiry-sales {
                margin: 10px 30px;
                display: inline-block;

                &:last-child{
                    margin:0;
                    width:100%;
                    margin-bottom: 20px;
                }
            }

            div.inquiry-inner {
                display: inline-block;
                text-align: center;
                margin: auto;
                // width: 33.33333%;
                width: 100%;
                padding: 0 0 40px 0;

                @media (max-width: 1160px) {
                    // width: 100%;
                    padding: 0 0 15px 0;
                }

            }
        }
    }
}