.send-email-btn {
    display: block;
    z-index: 1000;
    text-transform: uppercase;
    background: rgba(0,0,0,0.75);
    color:white;
    line-height: 1.3em;
    padding:1em;
    position: fixed;
    bottom:50px;
    left:50px;
    cursor: pointer;
    color:white;
    text-decoration: none;

    &.email-sent,
    &:hover {
        color:red;
    }
}

.single-email {
    background-color:#000000;
}