$new-theme: #617181;
body.reason2be {

    .cfm-navigation.mobile-menu .mobile-menu-inner {
        background: #ffffff;

        ul {
            li {
                a {
                    background: transparent;
                    h1 {
                        font-family: "gotham-light";
                        text-transform: uppercase;
                        color: #444;
                    }
                }
                &:hover{
                    a{
                        background:#EEE;
                        border:none;
                    }
                }

                &.current_page_item,
                &.active{
                    a{
                        background:$new-theme;
                        border:none;

                        h1{
                            color:#FFF;
                        }
                    }
                }
            }
        }
    }




    
    #footer-container{
        background-color:#212221;
        padding:70px 20px 60px 20px;
        text-align: center;
        position: relative;
        color:#fff;

        a{
            color:#fff;
        }

        p{
            font-size: 0.75em;
            line-height:1.5em;
            font-family: "gotham-book";
            text-transform: uppercase;
        }

        .cfm-logo-footer{
            display: inline-block;
            margin-bottom: 20px;
            margin-left: 4px;
            opacity: .9;
        }
    }

}



html:not(.mobile) body.reason2be div.cfm-project-gallery ul li div.project-inner a div.project-label div.project-label-inner h2 {
    color: #444;
}

html.reason2be {
    background:#212221;
}