/**
 * Base Styles
 */

html{
	// font-family:"calluna";
	font-family: "gotham-book";
	font-weight: 300;
	font-size: 19px;
	line-height:34px;
	background-color:#FFF;
	height:100%;
	overflow:auto;
	height: auto;
	color:#444;
}

body{
	height:100%;
	overflow:hidden;
}

p {
	font-size:0.9em;
}

h1,h2,h3,h4,h5,h6,strong,b{
	margin:0;
	font-weight: normal;
	color:#444;
	font-family: "gotham-book";
}

h1{
	font-size:30px; line-height:38px;
}

h2{
	font-size:24px; line-height:29px;
}

h3{
	font-size:16px; line-height:20px;
}

a:link, a:visited{
	color:#777;
}

a:hover{
	color:#222;
}

.row {
    width     : 100%;
    // max-width : 2000px;
    margin    : 0 auto;
    padding   : 6px 0;
}

.underline {
	width:75px;
	border-top:4px solid #fff;
	margin:10px auto auto auto;
}

.video-anchor-link{
	position: absolute;
	bottom:60px;
	left:0; width:100%;
	text-align:center;
	z-index:5;

	a{
		text-decoration: none;
		display: block;

		span.arrow{
			display: inline-block;
			border-left: 6px solid transparent;
			border-right: 6px solid transparent;
			border-top: 8px solid #FFF;
			vertical-align: middle;
		}

		span.label{
			font-size: 15px;
			line-height: 8px;
			font-family: "gotham-book";
			vertical-align: middle;
			display: block;
			color:#FFF;
			margin:0 0 0 10px;
		}

		&:hover{
			span.arrow{
				border-top: 8px solid #FFF;
			}

			span.label{
				color:#FFF;
			}
		}
	}
}

#header-container{
	position:fixed;
	width:100%;
	// top:0;
	background:#000;
	z-index:5;
	opacity: 0;

	@include clearfix();

	.header-inner{
		position: relative;
		padding:0 4px 0 20px;

		@media( min-width:$tablet-small){
			padding:0 40px;
		}
	}
	div#page-labels{
		margin-top:2px;
		float: right;
		height: 48px;
		overflow: hidden;
		display: none;

		@media( min-width:$tablet-small){
			display: block;
		}

		ul{
			position: relative;
			list-style:none;
			margin:0; padding:0;
			text-align: right;
			
			@include prefix( "transition", margin-top .4s);
			@include prefix( "transition-delay", 1s);

			li{
				font-family: "gotham-book";
				color: #CCC;
				font-size: 14px;
				margin:0; padding:0;
				opacity:0; text-align: right;
				display: none;
				line-height:48px;

				@include prefix( "transition", opacity .4s);

				a {
					text-decoration: none;
					color:#fff;
					text-transform: uppercase;
				}

				&.current-menu-item,
				&.active{
					@include prefix( "transition-delay", 1s);
					display: block;
					opacity:1;
				}
			}
		}
	}
	div.logo{
		position: relative;
		margin: 14px 12px 13px 0;
		float: left;

		a{
			position: absolute;
			left:0; top:0;
			background-repeat:no-repeat;
			background-size:cover;
		}
	}
}

.clickfiremedia.single-project {
	#header-container div#page-labels ul li#menu-item-28 {
		display: block;
		opacity:1;
	}
}

.clickfiremedia {
	#header-container{
		background:$cfm_red;
	}
}

.line-arrow{
	display:inline-block;
	width: 10px;
	height: 10px;
	background: transparent;
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
	position: absolute;
	top:20px;

	&.line-arrow-left{
		margin:-2px 8px 0 0;
		left: 0;
		// transform: translate3d(0,-50%,0) rotate(-135deg);
		@include prefix(transform, translate3d(0,-50%,0) rotate(-135deg));
	}

	&.line-arrow-right{
		right: 0;
		// transform: translate3d(0,-50%,0) rotate(45deg);
		@include prefix(transform, translate3d(0, -66.66666666%, 0) rotate(45deg));
	}
}

.menu-open{
	#header-container{
		border-bottom:0 solid #ddd;
	}
}

#page-container{
	opacity:0;
	padding-top:54px;
	background-color:#FFF;

	.page-header-navigation, .page-footer-navigation{
		background-color: $new-theme;

		.page-header-inner, .page-footer-inner{
			padding:12px 20px 6px 20px;
			
			@media( min-width:$tablet-small){
				padding:14px 40px 10px 40px;
			}

			.cfm-project-naviation{
				ul{
					display: block;
					
					li{
						float: left;
						padding:0;
						position: relative;

						a{
							font-size: 15px;
							font-family: "gotham-light";
							text-decoration:none;
							color:#fff;
							border:none !important;

							&:hover{
								color: #eee;
							}

							h4 {
								color:#fff;
								font-size: 15px;
								margin-left: 20px;
							}
						}

						&.next-button, &.previous-button{
							float: right;
						}

						&.previous-button {
							.line-arrow-left {
								left: -30px;
							}
						}
					}
				}
			}
		}
	}

	.page-header{
		padding:40px 20px 30px 20px;

		@media( min-width:$tablet-small){
			padding:60px 40px 50px 40px;
		}

		@media( min-width:$tablet-large){
			padding:70px 80px 60px 80px;
		}

		@media( min-width:$desktop){
			padding:70px 80px 60px 80px;
		}

		@media( min-width:$desktop-large){
			padding:70px 80px 60px 80px;
		}

		background-color:#FFF;

		.page-header-inner{
			h1,h2,h3{
				margin:0 0 30px 0;
				font-family:"gotham-light";
			}

			p{
				margin:4px 0 20px 0;
			}

			.page-header-description{
				
			}
		}
	}
}

#footer-container{
	background-color:#212221;
 	padding:70px 20px 60px 20px;
 	text-align: center;
 	position: relative;
 	color:#fff;
 	opacity: 0;

 	// a{
 	// 	color:#fff;
 	// }

 	p{
 		// font-size: 0.75em;
 		line-height:1.5em;
 		// font-family: "gotham-book";
 		// text-transform: uppercase;
 	}

 	.cfm-logo-footer{
 		display: inline-block;
 		margin-bottom: 20px;
 		margin-left: 4px;
 		opacity: .9;
 	}
}

div.section-header{
	background-color:$new-theme;

	h2{
		text-transform: uppercase;
		// font-family: "gotham-book";
		font-size: 19px;
		line-height: 24px;
		color: #fff;
		text-align: center;

		padding:30px 20px 30px 20px;

		@media( min-width:$tablet-small){ 
			padding:40px 60px 40px 60px;
		}

		@media( min-width:$desktop){ 
			padding:40px 80px 40px 80px;
		}
	}
}

div.cfm-project-gallery{
	margin:0 0 0 0;
	padding:0 0;
	background: transparent;
	border:none;

	ul{
		margin:0;

		li{
			@media( min-width:$tablet-small){ width:50%; }
 			@media( min-width:$tablet-large){ width:33.33334%; }

			div.project-inner{
				padding:0;

 				a{
 					background-size:cover;
 					background-color: #FFF;

 					div.project-label{
 						background-color:rgba(255,255,255,.95);
 						opacity: 0;

 						@include prefix( "transform", scale(.9) );
 						@include prefix( "transition", .25s ease-in-out );

 						div.project-label-inner{
 							background-color: transparent;
 							border-radius: 0;
 							border-left:none;
	 						border-right:none;
	 						padding:40px;

 							@include prefix( "transform", scale(1.2) );
 							@include prefix( "transition", transform .25s ease-in-out );

 							h2{
 								opacity: .96;
 								font-family: "gotham-bold";
 								line-height: 26px;
 								text-transform: uppercase;
 								color: $cfmred;

 								font-size: 26px;

 								* {
 									color: #FFF !important;
 								}
 							}
 						}
					}

					&:hover{
						div.project-label{
							opacity: 1;

	 						@include prefix( "transform", scale(1) );

	 						div.project-label-inner{
	 							@include prefix( "transform", scale(1) );
	 						}
						}
					}
				}
			}
		}
	}
}

.cfm-videoplayer
{
	.cfm-videoplayer-inner{
	}
	video{
	}
	video.cfm-videoplayer-desktop{
	}
	.cfm-videoplayer-poster{
		.cfm-videoplayer-poster-header{
			.cfm-videoplayer-poster-header-inner{
				h1,h2,h3{
				}
				p{
				}
				.page-header-description{
					p{
					}
				}
			}
		}
		.cfm-videoplayer-playbutton{
			span.arrow{
			}
			span.label{
				display: none;
			}
		}
		&:hover{
			.cfm-videoplayer-playbutton{
				span.arrow{
				}
			}
		}
	}
	video.cfm-videoplayer-mobile{
	}
	div.cfm-video-controls{
		ul{
			li.cfm-video-btn{
				background:rgba(0,0,0,.8);

				&:first-child{
				}
				&.cfm-video-play-pause-btn{
				}
				&.cfm-video-mute-btn{
				}
				&.cfm-video-fullscreen-btn{
				}
				&.active{
				}
				&:hover{
				}
			}
		}
		.cfm-video-progress-container{
			.cfm-video-seek-bar-input{
			}
			.cfm-video-seek-bar{
				background-color: $cfmred;
			}
		}
	}
}

div.social-navigation{
	display: block;
	text-align: center;

	ul{
		display: inline-block;
		margin:0 auto;
		list-style: none;
		padding:0;

		@include clearfix;

		li{
			float: left;
			width:50px;

			div.project-inner{
 				a{
 					display: block;
	 				padding-bottom: 100%;
	 				background-size:50px 100px;
	 				background-position: 0 -50px;
	 				background-repeat: no-repeat;

 					div.project-label{
						display: none;
					}

					&:hover{
						background-position:0 0;
					}
				}
			}

			&.facebook-btn{
				div.project-inner{
					a{
						background-image:url(../img/facebook_icon.png);
					}
				}
			}

			&.twitter-btn{
				div.project-inner{
					a{
						background-image:url(../img/twitter_icon.png);
					}
				}
			}

			&.pinterest-btn{
				div.project-inner{
					a{
						background-image:url(../img/pinterest_icon.png);
					}
				}
			}

			&.instagram-btn{
				div.project-inner{
					a{
						background-image:url(../img/instagram_icon.png);
					}
				}
			}

			&.youtube-btn{
				div.project-inner{
					a{
						background-image:url(../img/youtube_icon.png);
					}
				}
			}

			&:first-child{
				div.project-inner{
				}
			}
		}
	}
}

.cfm-navigation
{
	ul{
		li{
			display:block;

			@media(min-width:$tablet-small){ display:inline-block; }

			a{
			}

			&:hover, &.active{
				a{
				}
			}
		}
	}

	&.mobile-menu{
		position: fixed;
		top: 0; left: 0;
		width: 100%; height: 100%;
		z-index: 4;
		top:100%;
		opacity: 0;

		@include prefix( "transition", opacity .4s);

		.mobile-menu-inner{
			height: 100%;
			// background: #FFF;
			background: #b4132d;

			ul{
				position: absolute;
				width: 100%;
				left:0; 
				margin:-120px 0 0 0;
				top: 85%;

				@media(min-height:355px){
					margin:-130px 0 0 0;
					top: 70%;
				}

				@media(min-height:480px){
					margin:-180px 0 0 0;
					top: 70%;
				}

				li{
					margin:0; padding:0;
					display: block;

					a{
						background:$cfmred;
						margin:0; padding:0;
						display: block;

						@include prefix(transition, all 300ms ease-in);

						h1{
							color: #fff;
							font-family:"gotham-book";
							margin:0; padding:0;
							font-size: 12px;
							line-height: 20px;
						    line-height: 1.3em;
						    padding-top: 0.375em;
						    padding-bottom: 0.375em;

							@media(min-height:355px){
								font-size: 18px;
							}

							@media(min-height:500px){
								font-size: 20px;
							}

							@media(min-height:740px){
								font-size: 34px;
							}
						}
					}

					&:hover{
						a{
							background:#EEE;
							border:none;
						}
					}

					&.active,
					&.current_page_item,
					&.current-menu-item {
						a{
							background:$new-theme;
							border:none;

							h1{
								color:#FFF;
							}
						}
					}
				}

				@media(min-height:$tablet-small){
					margin:-200px 0 0 0;
				}

				@media(min-height:$tablet-large){
					top: 35%;
				}
			}
		}
	}
}

.menu-open{
	.mobile-menu{
		top:0; opacity:1;

		.mobile-menu-inner{
			ul{
			}
		}
	}
}
