@font-face {
    font-family: gotham-light;
    src: url(../fonts/gotham-light.ttf);
}
@font-face {
    font-family: gotham-book;
    src: url(../fonts/gotham-book.ttf);
}
@font-face {
    font-family: gotham-bold;
    src: url(../fonts/gotham-bold.ttf);
}

@font-face {
    font-family: 'Gotham Black';
    src: url(../fonts/GothamHTF-Black.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Book';
    src: url(../fonts/GothamHTF-Book.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url(../fonts/GothamHTF-Bold.otf);
    font-weight: normal;
    font-style: normal;
}