/**
 * Variables
 */

 /** ---- fonts ----**/
$body-text-size : 12px;
$heading-font-family : serif;
$body-font-family : sans-serif;

/** ---- colors ----**/
$grey : #999;
$dark-grey : #333;
$medium-grey : #444;
$white : rgb(210, 210, 210);
$cfmred: #444;

$new-theme: #617181;


/** ---- animation ----**/
$transition-speed : .4s;
$page-transition-speed : 1s;

/** ---- window sizes ----**/
$tablet-small : 480px;
$tablet-large : 760px;
$desktop : 1200px;
$desktop-large : 1600px;

/** ---- ABOUT PAGE STYLES ----**/
$a_gold:  #f9a40f;
$a_grey:  #a8a9a2;
$a_black: #212221;

$gothamBlack: 'Gotham Black', sans-serif;
$gothamBook: 'Gotham Book', sans-serif;
$gothamBold: 'Gotham Bold', sans-serif;


$a_tablet-small: 500px;
$a_tablet-large: 800px;
// $a_desktop: 1060px;
$a_desktop: 1020px;
$a_desktop-large: 1200px;
$max_w: 1537px;

$cfm_red: #a00;