<!-- END PROJECTS -->
    <!-- full blog -->
    <table id="bg5-2" align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 800px; max-width: 800px; background-image: url('../email-images/E-mail_Footer.jpg'); background-color: rgb(249, 249, 249); background-size: 100% 100%; background-position: 50% 0%; background-repeat: no-repeat;">
        <tbody>
            <tr>
                <td>
                    <!--[if gte mso 9]>
  <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="width:800px;height:255px;">
    <v:fill type="tile" src="bg5.jpg" color="#f9f9f9" />
    <v:textbox inset="0,0,0,0">
  <![endif]-->
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td class="content">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="padding" style="width: 20px;">
                                                </td>

                                                <td class="content_row" align="center" style="width: 760px;">
                                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="section_h" height="65"></td>
                                                            </tr>

                                                            <tr>
                                                                <td class="white_heading" align="center" style="color:#FFF; font-weight: 700; font-size: 30px; font-family: 'Montserrat', sans-serif; text-transform: uppercase; line-height: 48px;">
                                                                    want to see more?
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td height="10"></td>
                                                            </tr>

                                                            <tr>
                                                                <td align="center">
                                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td class="button" height="40" width="158" bgcolor="#b4122d" style="letter-spacing:0.1em; font-family: 'Montserrat', sans-serif; font-size: 12px; color: #ffffff; text-align: center; font-weight: 400; text-transform: uppercase; border-radius: 20px; padding-left:3em; padding-right:3em;">
                                                                                    <a class="button1_text" href="http://click3x.com/" style="text-decoration: none; color: #ffffff;">check out our site</a>
                                                                                </td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td class="section_h" height="70"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                                <td class="padding" style="width: 20px;">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!--[if gte mso 9]>
    </v:textbox>
  </v:rect>
  <![endif]-->
                </td>
            </tr>
        </tbody>
    </table>

    <!--end full blog-->

    <!--footer-->
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="width: 800px; max-width: 800px; background-color: rgb(249, 249, 249);">
        <tbody>
            <tr>
                <td>
                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td class="content">
                                    <table width="100%" cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td height="45" width="33.33334%" align="center" class="footer" bgcolor="#ec435c">
                                                    <a href="https://twitter.com/Click3X/" target="_blank">
                                                        <img src="../email-images/tw.png" width="12" height="10" border="0" style="display: block;" alt="social image" />
                                                    </a>
                                                </td>

                                                <td height="45" width="33.33334%" align="center" class="bg_primary" bgcolor="#b4122d">
                                                    <a href="https://www.facebook.com/Click3X/" target="_blank">
                                                        <img src="../email-images/fb.png" width="7" height="13" border="0" style="display: block;" alt="social image" />
                                                </a>
                                                </td>

                                                <td height="45" width="33.33334%" align="center" class="footer" bgcolor="#ec435c">
                                                    <a href="https://www.linkedin.com/company/click-3x" target="_blank">
                                                        <img src="../email-images/in.png" width="13" height="12" border="0" style="display: block;" alt="social image" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- CONTACT -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" width="800px" style="background-color: #ffffff; max-width: 800px;">
        <tbody>
            <tr>
                <td class="section_h" height="60"></td>
            </tr>
        </tbody>
    </table>

    <!--NEW FOOTER COPY -->
    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" style="background-color: #ffffff; width: 800px; max-width: 800px;">
        <tbody>
            <tr>
                <td>
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tbody>
                            <tr>
                                <td class="content">
                                    <table cellpadding="0" cellspacing="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="padding" style="width: 5px;"></td>

                                                <td class="content_row" align="center" style="width: 790px;">
                                                    <table cellpadding="0" cellspacing="0" border="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="dark_heading" align="center" style="color:#000000; font-weight:400; font-family: sans-serif; font-size:13px; line-height:1em;">
                                                                   <p style="max-width:700px; margin:0 auto;">Click 3X: 16 W 22nd St. NYC 10010 <a href="tel:2126271900">P: 212-627-1900</a></p>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td height="20"></td>
                                                            </tr>

                                                            <tr>
                                                                <td class="dark_heading" align="center" style="color:#000000; font-weight: 700; font-family: sans-serif; font-size:13px; line-height:1em;">
                                                                   <p style="max-width:700px; margin:0 auto;"><span>please contact <a href="mailto:brad@click3x.com" style="text-decoration:none; color:inherit;">brad@click3x.com</a> with any inquiries</span></p>
                                                                </td>
                                                            </tr>

                                                            <tr>
                                                                <td height="32"></td>
                                                            </tr>

                                                            <tr>
                                                                <td class="dark_heading" align="center" style="color:#000000; font-weight: 400; font-family: sans-serif; font-size:13px; line-height:1.1em;">
                                                                    <!-- Want to change how you receive these emails?<br />
                                                                    You can <a href="#" style="color:inherit;">update your preferences</a> or <a href="#" style="color:inherit;">unsubscribe</a> from this list -->
                                                                    Want to change how you receive these emails?<br />
                                                                    You can <preferences style="text-decoration:underline; cursor:pointer;">update your preferences</preferences> or <unsubscribe style="text-decoration:underline; cursor:pointer;">unsubscribe</unsubscribe> from this list
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>

                                                <td class="padding" style="width: 5px;"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <table align="center" border="0" cellpadding="0" cellspacing="0" class="wrapper_table" width="800px" style="background-color: #ffffff; width:100%; max-width: 800px;">
        <tbody>
            <tr>
                <td class="section_h" height="60"></td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>